@import "../../styles/styles";

@include themify() {

  .progress-container {
    position: relative;
    padding: 20px 0;
  }

  .percent-container {
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 12px;
  }
  // Bar progress
  .d-project-progress {
    height: 6px;
    overflow: hidden;
    border-radius: 5px;
    background: themed(p-background);

    .d-progress-bar-success {
      float: left;
      background: themed(p-success);
      height: 100%;
    }

    .d-progress-bar-error {
      float: left;
      background: themed(p-error);
      height: 100%;
    }

    .d-progress-bar-warning {
      float: left;
      background: themed(p-warning);
      height: 100%;
    }

    .d-progress-bar-info {
      float: left;
      background: themed(p-info);
      height: 100%;
    }
  }
}
