
<div class="progress-container" [style.paddingTop.px]="paddingTop" [style.paddingBottom.px]="paddingBottom">
  <div class="percent-container" *ngIf="showPercentLabel">
    {{projectSuccessPercentage + projectErrorPercentage + projectInfoPercentage + projectWarningPercentage}} {{'%'}}
  </div>
  <div  class="d-project-progress">
    <div *ngIf="projectSuccessPercentage" class="d-progress-bar-success" [style.width.%]="projectSuccessPercentage"
         [attr.aria-valuenow]="projectSuccessPercentage" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    <div *ngIf="projectErrorPercentage" class="d-progress-bar-error" [style.width.%]="projectErrorPercentage"
         [attr.aria-valuenow]="projectErrorPercentage" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    <div *ngIf="projectInfoPercentage" class="d-progress-bar-info" [style.width.%]="projectInfoPercentage"
         [attr.aria-valuenow]="projectInfoPercentage" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    <div *ngIf="projectWarningPercentage" class="d-progress-bar-warning" [style.width.%]="projectWarningPercentage"
         [attr.aria-valuenow]="projectWarningPercentage" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
