<div class="header-component">
  <div class="logo-wrapper">
    <img src="./assets/img/logo.svg" alt="Logo" class="main-logo"/>
  </div>
  <!--<i class="icon-ICON7" [style.fontSize.px]="25"></i>-->
  <div class="header-wrapper">
    <div class="header-inner">
      <!---->
      <div class="header-search-section">
        <img *ngIf="!activateSearchIcon" src="./assets/img/zoom-disable.svg" alt="lupa"/>
        <img *ngIf="activateSearchIcon" src="./assets/img/zoom-active.svg" alt="lupa"/>
        <input type="text" placeholder="Búsqueda..."
               (blur)="toggleSearch(false)"
               (focus)="toggleSearch(true)"/>
      </div>

      <!---->
      <div class="header-notification-section">
        <div class="header-add-button-wrapper" (click)="openNewProjectForm()">
          <div class="header-add-button">
            <i class="rosbit-i rb-e90b"></i>
          </div>
        </div>
        <div class="header-bell-notification-wrapper">
          <img class="header-bell-notification"
               src="./assets/img/bell-disable.svg"
               alt="bell">
        </div>
        <div class="header-notification-avatar">
          <img src="https://pbs.twimg.com/profile_images/1094274513280348164/oo69w5re_400x400.jpg"
               alt="profile">
          Erubiel Recoba
        </div>
      </div>
    </div>
  </div>
</div>
