@import "../../styles/styles";


@include themify() {

  .main-logo {
    height: auto;
  }

  .header-component {
    width: 100%;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;

    top: 0;
    position: fixed;

    height: 62px;
    transition: background-color 0.2s, border-bottom-color 0.2s, color 0.2s;
    background-color: themed('header-bg');
  }

  .logo-wrapper {
    display: inline-block;
    width: 87px;
    height: 62px;
    background-color: themed('background');

    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .header-wrapper {
    display: inline-block;
    width: calc(100% - 87px);

    .header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0 46px;
    }
  }

  // Search
  .header-search-section {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    input {
      border: 1px solid transparent;
      background-color: transparent;
      font-size: 1.25rem;
      color: themed(regularText);
      width: 100%;
    }
    input[type=text]:focus {
      border: 1px solid transparent;
      outline: none;
    }
    input::placeholder {
      color: #939393;
    }
    input::-webkit-input-placeholder{
      color: #939393;
    }
    input:-ms-input-placeholder {
      color: #939393;
    }

    img {
      margin-right: 5px;
    }
  }
  .header-notification-section {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-add-button-wrapper {
      border-right: 1px solid #DBDBDB;
    }
    .header-add-button {
      margin-right: 27px;

      cursor: pointer;

      width: 32px;
      height: 32px;
      border-radius: 3px;
      background-color: themed(primary-color);

      color: #ffffff;
      font-size: 16px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header-bell-notification-wrapper {
      margin: 0 27px;
    }
    .header-bell-notification {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    .header-notification-avatar {
      img {
        width: 32px;
        height: 32px;
        border-radius: 3px;
        margin-right: 14px;
        margin-left: 33px;
      }
      cursor: pointer;

      font-size: 0.9375rem;
      color: #939393;
      text-transform: capitalize;
      border-left: 1px solid #DBDBDB;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

