<div class="title-card">
    <div class="title-card-text">
        <span>{{cardTitle}}</span>
    </div>
    <div *ngIf="cardTitleButton" class="title-card-icon">
        <i class="rosbit-i rb-e912"></i>
    </div>
</div>
<div *ngIf="!!cardSubTitle" class="sub-title-card">
    <span>{{cardSubTitle}}</span>
</div>