@import "../../../../theme/styles/styles";
.title-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 24px 0px 24px;

    .title-card-text {
      span {
        font-size: 1.25rem;
        text-transform: capitalize;
        font-weight: 700;
      }
    }
    .title-card-icon {
      cursor: pointer;
    }
  }
  .sub-title-card{
    padding: 10px 24px 0px 24px;
  }
