@import "../theme/styles/styles";

@include themify(){

  .main-page-layout {
    padding: 62px 0 0 87px;
    transition: padding .15s, background-color 0.2s;
    height: 100vh;
  }
  .collapse { padding: 62px 0 0 212px; }

  .main-container {
    position: relative;
    padding: 42px;
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;

    background-color: themed(backgroundLayout);
  }

}
