<div class="p-project-card animated fadeIn">
  <div class="p-project-app-type-header">
    <img class="p-project-app-type-img" src="./../../../../../assets/img/proyects/Layer.png">
    <div class="p-project-app-type-sub-header">
      <div class="p-project-project-name">
        {{projectName}}
      </div>
      <div class="p-project-app-type-title">
        {{projectType}}
      </div>
    </div>
    <div class="p-project-app-type-sub-header-final">
      <i class="rosbit-i rb-e912"></i>
      <span style="font-size: 22px;
      justify-content: flex-end;
      color: #FFDF74;
      margin-top: -2px;
      margin-right: 0px;
      margin-left: auto;" *ngIf="start">&#9733;</span>
    </div>
  </div>

  <div class="p-project-details">
    <div class="p-project-description">
      {{projectDescription}}
    </div>
    <!-- <div class="p-project-tag-content" *ngIf="!!projectTags && projectTags.length > 0">
      <div *ngFor="let tag of projectTags" class="p-project-tag">
        {{tag}}
      </div>
    </div> -->
  </div>
  <div class="p-project-details-sub">
    <d-project-cards [projectTestCount]="1" [projectTestTotalCount]="1" [projectSuccessPercentage]="30"
      [projectWarningPercentage]="40" [projectErrorPercentage]="10" [projectInfoPercentage]="20"
      [projectAvatar]="avatar"></d-project-cards>
  </div>
  <div class="p-project-tests">
    <!-- <i class="rosbit-i rb-e90b"></i> {{projectTestingCount}} <span *ngIf="projectTestingCount === 1">Prueba</span><span>Pruebas</span> -->
    <div class="legends">
      <div *ngIf="type" class="circle" [ngClass]="{
        'd-success': type === 'success',
        'd-error': type === 'error',
        'd-warning': type === 'warning',
        'd-info': type === 'info'}"></div>
      <span *ngIf="type" [ngClass]="{
        'c-success': type === 'success',
        'c-error': type === 'error',
        'c-warning': type === 'warning',
        'c-info': type === 'info'}"> Quedan 8 días </span>
    </div>
    <div class="p-project-date">
      Ultima actualización: {{projectDate}}
    </div>
  </div>
</div>
