@import "../../../../theme/styles/styles";

@include themify() {
  .p-project-card {
    background-color: themed('background');
    width: 100%;
    padding: 20px 32px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 22px;
  }

  .p-project-app-type-title {
    color: themed(project-card-app-title);
    font-size: 0.6875rem;
  }

  .p-project-app-type-sub-header {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }

  .p-project-app-type-img {
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .p-project-app-type-sub-header-final {
    display: flex;
    flex-direction: column;
    i {font-size: 18px;}
  }

  .p-project-app-type-header {
    color: themed(project-card-app-title);
    font-size: 0.6875rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .p-project-project-name {
    font-size: 0.9375rem;
    font-weight: 500;
    color: themed(mainText);
  }

  .p-project-date {
    color: themed(subtextColor);
    font-size: 0.625rem;
  }

  .p-project-description {
    font-size: 0.625rem;
  }

  .p-project-description {
    padding-bottom: 10px;
  }

  .p-project-details {
    width: 100%;
    height: 78px;
    overflow-y: auto;
    margin-bottom: 22px;
  }

  .p-project-details-sub {
    width: 100%;
    height: 4rem;
  }

  .p-project-details::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f500;
  }

  .p-project-details::-webkit-scrollbar-thumb {
    background-color: #DBDBDB;
    border-radius: 3px;
  }

  .p-project-tag-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .p-project-tag {
    color: #ffffff;
    background-color: themed(primary-color);
    font-size: 0.6875rem;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 1px 5px;
    opacity: 0.65;
  }

  .p-project-tests {
    font-size: 0.6875rem;
    font-weight: 500;

    i {
      color: #939393;
    }
  }

  .legends {
    height: 0.6875rem;
    font-size: 0.6875rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    flex: auto;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    .circle {
      width: 10px;
      height: 10px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-right: 2px;
    }

    .d-success {
      background: themed(p-success);
    }

    .d-error {
      background: themed(p-error);
    }

    .d-warning {
      background: themed(p-warning);
    }

    .d-info {
      background: themed(p-info);
    }

    .c-success {
      color: themed(p-success);
    }

    .c-error {
      color: themed(p-error);
    }

    .c-warning {
      color: themed(p-warning);
    }

    .c-info {
      color: themed(p-info);
    }
  }
}
