@import "../../../../theme/styles/styles";

@include themify() {
  $indicator-yellow: themed(d-analysis-card-yellow-bg);
  .d-img-testing-card {
    height: 40px;
    width: 40px;
    margin-left: -1rem;
    margin-right: 5px;
  }

  .d-testing-points {
    margin-top: 2px;
    font-size: 12px;
    color: themed(mainText);
  }

  .d-testing-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 22px;
    padding-bottom: 20px;
    overflow: visible;
    border-bottom: 2px solid themed(border-dashlet);
  }

  .d-testing-name {
    font-size: 0.875rem;
    color: themed(mainText);
    font-weight: 600;
  }

  .d-testing-row {
    flex-direction: row;
    display: flex;
  }

  .d-testing-col {
    flex-direction: column;
    display: flex;
  }

  .d-testing-description {
    font-size: 0.75rem;
  }

  .d-testing-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: themed(subtextColor);
    font-size: 0.625rem;
  }
  .bullets{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    left: 2rem;
    top: -.5rem;
    position: relative;
    border: 2px solid white;
    .text{
      display: flex;
      justify-content: center;
      vertical-align: middle;
      color: white;
      font-size: .675rem;
      font-weight: bold;
    }
  }
  .yellow{
    background: #DA9219;
  }
  .red{
    background: #C71442;
  }
}
