<div *ngIf="!developersView ;else templateName" class="d-testing-content">
    <div class="d-testing-detail">
        <div class="d-testing-row">
            <div *ngIf="developerBullets" class="{{getType()}}">
                <span  class="text">{{developerBullets}}</span></div>
            <img class="d-img-testing-card" [src]="imgTesting">
            <div class="d-testing-col">
                <span class="d-testing-name" >{{developerName}}</span>
                <div class="d-testing-row">
                    <span *ngFor="let item of [0,0,0]" style="font-size: 15px;
                    color: #FFDF74;
                    margin-top: -2px;
                    margin-right: 0px;
                    margin-left: 2px;">&#9733;</span>
                </div>
            </div>
        </div>
        <span class="d-testing-points" > {{developerPoints}} pts</span>
    </div>
</div>
<ng-template #templateName>
    <div class="d-testing-content">
        <div class="d-testing-detail">
            <div class="d-testing-row">
                <img class="d-img-testing-card" [src]="imgTesting">
                <div class="d-testing-col">
                    <div style="font-size: .75rem; color: #4B4040;">
                        <b>{{developerName}}</b>
                        {{textView}}
                    </div>
                </div>
            </div>
        </div>
        <div style="
        font-size: .625rem;
        color: #7E7D7D;
        align-content: center;
        display: flex;
        vertical-align: middle;
        position: relative;
        margin-left: 2rem;
        padding-top: .5rem;
        ">
            {{hour}}
        </div>
    </div>
</ng-template>
