<div class="d-project-card-header">
    <ng-container *ngIf="projectAvatar">
        <img class="p-project-app-type-img" *ngFor="let item of projectAvatar" [src]="item.img">
    </ng-container>
</div>