@import "../../../theme/styles/styles";
@import '../../styles/colors.scss';
@import '../../styles/styles';

@include themify() {
  .p-project-app-type-img {
    width: auto;
    margin: 1px;
    height: 25px;
    border-radius: .25rem;
  }
}