<div class="d-project-content">

  <div class="d-project-details">
    <div class="d-project-detail-title">
      <div class="d-flex align-items-center">
        <img [src]="imgSource">
        {{projectName}}
      </div>
      <span *ngIf="!!projectVersion">{{'Version'}} {{projectVersion}}</span>
    </div>
    <div class="d-project-goal-text">
      {{projectGoal}}
      <img src="../../../../../assets/img/proyects/Layer6.png">
    </div>

  <rbit-progress-bar  *ngIf="displayProgressBar"
                      [paddingBottom]="5"
                      [projectSuccessPercentage]="projectSuccessPercentage"
                      [projectErrorPercentage]="projectErrorPercentage">

  </rbit-progress-bar>
    <div class="d-flex test-description">
      <div class="test-count">{{projectTestCount}}</div>&nbsp;<div>{{'de 99 pruebas realizadas'}}</div>
    </div>
  </div>
</div>
