@import "../../../../theme/styles/styles";

@include themify() {
  .d-project-content {
    padding-top: 22px;
    display: flex;
    flex-direction: row;
    height: 8rem;
    overflow: visible;
    border-bottom: 2px solid #DBDBDB;
  }

  .d-project-avatar {
    height: 100%;
    padding: 0 .625rem;
    img {
      border-radius: 2px;
      width: 25px;
      height: auto;
    }
  }

  .d-project-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    .d-project-detail-title {
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: flex-end;
      line-height: 1;
      img {
        margin-right: 10px;
        width: 18px;
        height: 18px;
      }
      span {
        margin-left: 5px;
        margin-bottom: 3px;
        line-height: 1;
        font-weight: 500;
        font-size: 10px;
        color: themed(subtextColor);
      }
    }

    .d-project-goal-text {
      padding-top: 5px;
      font-size: 0.75rem;
      display: flex;
      justify-content: space-between;

      img {
        border-radius: 3px;
        width: 20px;
        height: 20px;
        object-fit: cover;
      }
    }
    .d-project-test-count {
      font-size: 0.75rem;
    }
    .d-project-percentage {
      font-size: 0.75rem;
    }
  }

  .test-description {
    font-size: 12px;
    .test-count {
      color: themed(p-warning);
    }
  }

  // Bar progress
  .d-project-progress {
    height: 5px;
    overflow: hidden;
    border-radius: 5px;
    background: #9393933b;

    .d-progress-bar-success {
      float: left;
      background: #75BA75;
      height: 100%;
    }
    .d-progress-bar-error {
      float: left;
      background: #CE5F5F;
      height: 100%;
    }
  }
}
