<div class="{{getType()}}" [ngClass]="{'analysis-yellow-background': backgroundColor === 'yellow',
     'analysis-red-background': backgroundColor === 'red',
     'analysis-white-background': backgroundColor === 'default'
    }"
>
  <div class="analysis-wrapper">
    <div class="analysis-inner">

      <div class="row">
        <!---->
        <ng-container *ngIf="fontIcon;else NoIcon">
          <div  class="col-4 col-md-4">
            <div *ngIf="fontIcon" class="analysis-icon-content">
              <i class="rosbit-i rb-{{fontIcon}}" [ngClass]="{
                'analysis-icon-blue': this.colorIcon === 'blue',
                'analysis-icon-green': this.colorIcon === 'green',
                'analysis-icon-gray': this.colorIcon === 'gray',
                'analysis-icon-yellow': this.colorIcon === 'yellow',
                'analysis-icon-red': this.colorIcon === 'red'
              }"></i>
            </div>
          </div>
          <div class="col-8 col-md-8">
            <div class="analysis-indicator-content">
              <div class="analysis-number" [ngClass]="{
                'analysis-icon-blue': this.colorIcon === 'blue',
                'analysis-icon-green': this.colorIcon === 'green',
                'analysis-icon-gray': this.colorIcon === 'gray',
                'analysis-icon-yellow': this.colorIcon === 'yellow',
                'analysis-icon-red': this.colorIcon === 'red'
              }">{{number}} <span *ngIf="!!secondaryNumber">/{{secondaryNumber}}</span></div>
              <div class="analysis-text">{{text}}</div>
              <div *ngIf="hasProgressBar" class="analysis-indicator-progress">
                <div class="analysis-indicator-progress-bar" [style.width.%]="percentageProgressBar"
                  [attr.aria-valuenow]="percentageProgressBar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #NoIcon>
          <div  class="col-4 col-md-4"></div>
          <div class="col-8 col-md-8">
            <div class="analysis-indicator-content">
              <div class="analysis-number">{{number}} <span *ngIf="!!secondaryNumber">/{{secondaryNumber}}</span></div>
              <div class="analysis-text">{{text}}</div>
              <div *ngIf="hasProgressBar" class="analysis-indicator-progress">
                <div class="analysis-indicator-progress-bar" [style.width.%]="percentageProgressBar"
                  [attr.aria-valuenow]="percentageProgressBar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <!---->
      </div>
    </div>
  </div>
</div>
