@import "../../../../theme/styles/styles";

@include themify() {
  // Variables
  $indicator-yellow: themed(d-analysis-card-yellow-bg);
  $indicator-red: themed(d-analysis-card-red-bg);
  $background-card-color: themed(d-analysis-card-yellow-bg);


  .d-analysis-full-cover {
    width: 100%;
    height: 100%;
  }
  .analysis-content {
    //width: 100%;
    height: 100%;
    padding: 15px 22px;
  }
  .analysis-content-no-icon{
    height: 100%;
    padding: 0px 22px;
    @media (max-width: 1024px){
      .col-md-8 {
        flex: 100%;
        max-width: 100%;
        }
    }
    @media (min-width: 768px){
      .col-md-8 {
        flex: 100%;
        max-width: 100%;
        }
    }
}

  // Color cards
  .analysis-yellow-background {
    background-color: $indicator-yellow;
    color: white;
  }
  .analysis-red-background {
    background-color: $indicator-red;
    color: white;
  }
  .analysis-white-background {
    background-color: themed(background);
    color: themed(d-analysis-text);
  }

  .analysis-wrapper {
    height: 100%;
    position: relative;

    .analysis-inner {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%
    }
  }

  // Icon
  .analysis-icon-content {
    text-align: center;
    font-size: 2.5625rem;
  }
  .analysis-icon-blue {
    color: themed(d-info);
  }
  .analysis-icon-gray {
    color: themed(d-gray);
  }
  .analysis-icon-green {
    color: themed(d-success);
  }
  .analysis-icon-red {
    color: themed(d-error);
  }
  .analysis-icon-yellow {
    color: themed(d-warning);
  }

  // Number
  .analysis-number {
    font-size: 1.3125rem;
    margin-bottom: -4px;
    font-weight: 700;
    span {
      font-size: 0.9375rem;
    }
  }

  // Text
  .analysis-text {
    color: themed(d-analysis-text);
  }
  .analysis-yellow-background {
    .analysis-text {
      color: #F0F0F0
    }
  }
  .analysis-red-background {
    .analysis-text {
      color: #F0F0F0
    }
  }

  // Progress bar
  .analysis-indicator-progress {
    width: 100%;
    display: flex;
    height: 5px;
    overflow: hidden;
    font-size: .75rem;
    background: #ffffff2e;
    border-radius: .25rem;

    .analysis-indicator-progress-bar {
      display: -ms-flexbox;
      -ms-flex-direction: column;
      -ms-flex-pack: center;

      display: flex;
      flex-direction: column;
      color: #ffffff;
      text-align: center;
      white-space: nowrap;
      background-color: white;
      transition: width .6s ease;
    }
  }
}
