
<div class="testing-main-container">
  <div class="tag-item-dashboard" *ngIf="tag" [style.color]="tag">
    <i class="rosbit-i rb-e914"></i>
  </div>

  <div class="d-testing-content">
    <div class="d-testing-title">
      <div>{{testingName}}</div>
      <div *ngIf="status !== 'Nueva'" class="status-container-testing-project" [ngClass]="'tag-' + getClassByTag(status)">
        <i *ngIf="getClassByTag(status) === 'nueva'" class="rosbit-i rb-{{getIconByTag(getClassByTag(status))}}"></i>
        <div>{{status}}</div>
      </div>
      <div *ngIf="status === 'Nueva'" class="d-status">
        <div>{{status}}</div>
      </div>
      <ng-container ></ng-container>
    </div>
    <div *ngIf="testingDescription" class="d-testing-description">
      {{testingDescription}}
    </div>
    <div class="d-testing-detail">
      <div>
        <ng-container *ngIf="testingAuthor" >
          <span>{{projectName}}</span> - <span>{{testingAuthor}}</span>
        </ng-container>
        <ng-container *ngIf="!testingAuthor">
          <img *ngIf="imgTesting" [src]="imgTesting" 
          style="height:0.75rem;  width:0.75rem; margin-right: .375rem;"> 
          <span>{{projectName}}</span>
        </ng-container>
        
      </div>
      <div>
        <i *ngIf="!!testingDate" class="rosbit-i rb-e918"></i> <span *ngIf="!!testingDate"> 5 minutos</span>
      </div>
    </div>
  </div>

</div>
