@import "../../../../theme/styles/styles";

@include themify() {

  .testing-main-container {
    position: relative;
  }

  .tag-item-dashboard {
    position: absolute;
    left: 0px;
    top: 23px;
    color: #E07676;
  }

  .d-img-testing-card{
    height: 12px;
    margin-right: 5px;
  }
  .d-testing-content {
    margin-left: 28px;
    margin-right: 28px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 22px;
    padding-bottom: 20px;
    overflow: visible;
    border-bottom: 2px solid #DBDBDB;
  }

  .d-testing-description {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 18px;
    white-space: nowrap;
  }

  .d-testing-title {
    font-size: 0.875rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .d-status{
      font-size: 0.5rem;
      font-weight: 500;
      color: blue;
      background-color: rgba($color: blue, $alpha: 0.20);
      padding: 2px 5px;
      border-radius: 3px;
    }
  }
  .d-testing-icon-success {
    margin-left: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 14px;
    height: 14px;

    border-radius: 50%;
    border: 2px solid #90D590;
    background-color: #E2F8E2;

    color: #90D590;
    font-size: 0.4375rem;
  }

  .d-testing-icon-error {
    margin-left: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 14px;
    height: 14px;

    border-radius: 50%;
    border: 2px solid #E07676;
    background-color: #F8E2E2;

    color: #E07676;
    font-size: 0.4375rem;
  }

  .d-testing-description {
    font-size: 0.75rem;
  }
  .d-testing-detail {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #7E7D7D;
    font-size: 0.625rem;
  }

  .status-container-testing-project {
    padding: 2px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 3px;
    display: flex;
    align-items: center;
    i {
      font-size: 12px;
      padding-right: 5px;
    }
    &.tag-success {
      color: themed(tag-lbl-success);
      background-color: rgba(themed(tag-success), 0.2);
    }
    &.tag-error {
      color: themed(tag-lbl-error);
      background-color: rgba(themed(tag-error), 0.2);
    }
    &.tag-warning {
      color: themed(tag-lbl-warning);
      background-color: rgba(themed(tag-warning), 0.2);
    }
    &.tag-rejected {
      color: themed(tag-lbl-rejected);
      background-color: rgba(themed(tag-rejected), 0.2);
    }
  }
}
