<div class="row">
  <div class="col-md-4">
    <p-project-card
                    (click)="goProjectDetail()"
                    [projectType]="'Aplicación movil'"
                    [projectName]="'Proyecto 1'"
                    [projectDate]="'21/03/2019'"
                    [projectDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'"
                    [projectTags]="['Futbol', 'Dashboard', 'Jugadores', 'Presupuesto', 'Banco', 'Tarifas']"
                    [start]="'true'"
                    [projectTestingCount]="17"></p-project-card>
  </div>
  <div class="col-md-4">
    <p-project-card (click)="goProjectDetail()"
                    [projectType]="'Aplicación movil'"
                    [projectName]="'Proyecto 2'"
                    [projectDate]="'21/03/2019'"
                    [projectDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'"
                    [projectTags]="['Futbol', 'Dashboard', 'Jugadores']"
                    [start]="'true'"
                    [type]="'error'"
                    [projectTestingCount]="17"></p-project-card>
  </div>
  <div class="col-md-4">
    <p-project-card (click)="goProjectDetail()"
                    [projectType]="'Aplicación movil'"
                    [projectName]="'Proyecto 3'"
                    [projectDate]="'21/03/2019'"
                    [projectDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'"
                    [projectTags]="['Futbol', 'Dashboard', 'Jugadores']"
                    [type]="'info'"
                    [projectTestingCount]="17"></p-project-card>
  </div>

  <div class="col-md-4">
    <p-project-card (click)="goProjectDetail()"
                    [projectType]="'Aplicación movil'"
                    [projectName]="'Proyecto 4'"
                    [projectDate]="'21/03/2019'"
                    [projectDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'"
                    [projectTags]="['Futbol', 'Dashboard', 'Jugadores']"
                    [type]="'success'"
                    [projectTestingCount]="17"></p-project-card>
  </div>
  <div class="col-md-4">
    <p-project-card (click)="goProjectDetail()"
                    [projectType]="'Aplicación movil'"
                    [projectName]="'Proyecto 5'"
                    [projectDate]="'21/03/2019'"
                    [projectDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'"
                    [projectTags]="['Futbol', 'Dashboard', 'Jugadores']"
                    [type]="'warning'"
                    [projectTestingCount]="17"></p-project-card>
  </div>
  <div class="col-md-4">
    <p-project-card [projectType]="'Aplicación movil'"
                    [projectName]="'Proyecto 6'"
                    [projectDate]="'21/03/2019'"
                    [projectDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'"
                    [projectTags]="['Futbol', 'Dashboard', 'Jugadores']"
                    [projectTestingCount]="17"></p-project-card>
  </div>

  <div class="col-md-4">
    <p-project-card (click)="goProjectDetail()"
                    [projectType]="'Aplicación movil'"
                    [projectName]="'Proyecto 7'"
                    [projectDate]="'21/03/2019'"
                    [projectDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'"
                    [projectTags]="['Futbol', 'Dashboard', 'Jugadores']"
                    [projectTestingCount]="17"></p-project-card>
  </div>
  <div class="col-md-4">
    <p-project-card (click)="goProjectDetail()"
                    [projectType]="'Aplicación movil'"
                    [projectName]="'Proyecto 8'"
                    [projectDate]="'21/03/2019'"
                    [projectDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'"
                    [projectTags]="['Futbol', 'Dashboard', 'Jugadores']"
                    [projectTestingCount]="17"></p-project-card>
  </div>
  <div class="col-md-4"><p-project-card (click)="goProjectDetail()"
                                        [projectType]="'Aplicación movil'"
                                        [projectName]="'Proyecto 9'"
                                        [projectDate]="'21/03/2019'"
                                        [projectDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.'"
                                        [projectTags]="['Futbol', 'Dashboard', 'Jugadores']"
                                        [projectTestingCount]="17"></p-project-card></div>
</div>

<p-project-add-test *ngIf="showAddTest" (onClose)="onCloseAddTest($event)">

</p-project-add-test>
