<gridster [options]="options" [ngClass]="{'mobileMode': isOnMobileMode}" class="animated fadeIn">
    <gridster-item [item]="gridsterItem1">
      <d-analysis-indicator [backgroundColor]="'yellow'"
                            [fontIcon]="'e909'"
                            [text]="'Proyectos'"
                            [number]="269"
                            [hasProgressBar]="true"
                            [percentageProgressBar]="25"></d-analysis-indicator>
    </gridster-item>
    <gridster-item [item]="gridsterItem2">
      <d-analysis-indicator [text]="'Completados'"
                            [colorIcon]="'yellow'"
                            [number]="123" [secondaryNumber]="269"></d-analysis-indicator>
    </gridster-item>
    <gridster-item [item]="gridsterItem3">
      <d-analysis-indicator [text]="'En progreso'"
                            [colorIcon]="'gray'"
                            [number]="114" [secondaryNumber]="269"></d-analysis-indicator>
    </gridster-item>
    <gridster-item [item]="gridsterItem4">
      <d-analysis-indicator [text]="'Retrasados'"
                            [colorIcon]="'green'"
                            [number]="10" [secondaryNumber]="32"></d-analysis-indicator>
    </gridster-item>
    
    <gridster-item [item]="gridsterItem5">
      <rbit-d-title-card-header [cardTitle]="'Actividad reciente'" cardTitleButton="true" >
      </rbit-d-title-card-header>
      <div class="testing-wrapper">
        <rbit-d-avatar-card-header *ngFor="let item of ['','','','','','']"
          [hour]="'Hoy 09:10'"
          [textView]="'ha comentado los Casos de prueba del proyecto Road y ha comentado los Casos de usos del proyecto Road'" 
          [developersView]="'true'" [imgTesting]="'../../../../../assets/img/proyects/Layer6.png'"
          [developerName]="'Roberto Contreras'" ></rbit-d-avatar-card-header>
      </div>
    </gridster-item>
    <gridster-item [item]="gridsterItem6">
      <rbit-d-title-card-header [cardTitle]="'Top testers'" cardTitleButton="true">
      </rbit-d-title-card-header>
      <div class="testing-wrapper">
        <rbit-d-avatar-card-header [developerBullets]="'1'" [imgTesting]="'../../../../../assets/img/proyects/Layer6.png'" [developerName]="'Francisco Reyes'" [developerPoints]="'1243'" ></rbit-d-avatar-card-header>
        <rbit-d-avatar-card-header [developerBullets]="'1'" [imgTesting]="'../../../../../assets/img/proyects/Layer6.png'" [developerName]="'Damian Martinez'" [developerPoints]="'1243'" ></rbit-d-avatar-card-header>
        <rbit-d-avatar-card-header [developerBullets]="'1'" [imgTesting]="'../../../../../assets/img/proyects/Layer6.png'" [developerName]="'Edgar Herrera'" [developerPoints]="'1243'" ></rbit-d-avatar-card-header>
        <rbit-d-avatar-card-header [developerBullets]="'1'" [imgTesting]="'../../../../../assets/img/proyects/Layer6.png'" [developerName]="'Erubiel recoba'" [developerPoints]="'1243'" ></rbit-d-avatar-card-header>
      </div>
    </gridster-item>
    //erro here
    <gridster-item [item]="gridsterItem7">
      <div class="am4charts-container">
      <div class="am4charts-header" >
        <rbit-d-title-card-header [cardTitle]="'Pruebas'">
        </rbit-d-title-card-header>
        <div class="am4charts-options">
          <rbit-basic-button [bgColor]="'yellow'" (click)="buttonGrid = !buttonGrid" [withOutBackground]="buttonGrid" >
            Semana</rbit-basic-button>
          <rbit-basic-button [bgColor]="'yellow'" (click)="buttonGrid = !buttonGrid" [withOutBackground]="!buttonGrid" >
            Mes</rbit-basic-button>
        </div>
      </div class="am4charts-chart">
      <id id="chartPerformance"></id>
    </div>
    </gridster-item>
    
    <gridster-item [item]="gridsterItem8">
      <rbit-d-title-card-header [cardTitle]="'Proyectos'" cardTitleButton="true">
      </rbit-d-title-card-header>
      <div class="testing-wrapper" style="display: flex; flex-direction: row;">
        <div id="chartPerf"></div>
        <div id="chartPerf2"></div>
        <div id="chartPerf3"></div>
      </div>
    </gridster-item>
  </gridster>
        <!-- <img class="try-image" src="../../../../../assets/img/proyects/try_icon.png"> -->
        <!--<div class="title-card-icon">-->
          <!--<i class="rosbit-i rb-e904"></i>-->
        <!--</div>-->