<rbit-modal-change-version *ngIf="showChangeVersionModal" (accept)="changeVersion()" (cancel)="showChangeVersionModal = false;">

</rbit-modal-change-version>

<div class="versions-project-main">
  <div class="breadcrumb-project">
    <div (click)="goProjects()">{{'Proyectos'}}</div> <div>{{'/'}}</div><div class="title">{{'Versiones'}}</div>
  </div>

  <div class="versions-table-filters-section  animated fadeIn">
    <div class="d-flex align-items-center col-5">
      <div class="table-amount-section">
        {{'Versiones'}} {{'(20)'}}
      </div>
      <div class="add-item-btn">
        <i class="rosbit-i rb-e90b"></i>
      </div>
      <div class="standard-input-style search-input-filter">
        <input type="text" [placeholder]="'Búsqueda'"/>
        <div class="search-icon"><i class="rosbit-i rb-e904"></i></div>
      </div>
    </div>
    <div class="secondary-section-filters col-7">
    </div>
  </div>
  <div class="versions-wrap-items animated fadeIn">
    <div class="version-item" *ngFor="let item of versionsList" [ngClass]="{'active-version': item.version == currentVersion}" (click)="performChangeVersion(item.version)">
      <div class="first-version-row">
        <div class="version-title">{{'Versión ' + item.version}}</div>
        <i class="rosbit-i rb-e912"></i>
      </div>
      <div class="counter-version-row">
        <div class="col-3 sub-item" *ngFor="let subItem of item.counters">
          <i class="rosbit-i rb-{{getIconByTag(subItem.tag)}}" [ngClass]="subItem.tag"></i>
          <div>{{subItem.count}}</div>
        </div>
      </div>
      <div class="progress-content-version">
        <div class="version-progress-detail">
          <div class="percentage">{{'100%'}}</div>&nbsp;-&nbsp;
          <div>{{item.completed}}&nbsp;/&nbsp;{{item.total}}&nbsp;{{'Pruebas'}}</div>
        </div>
        <rbit-progress-bar [paddingTop]="7"
                           [paddingBottom]="7"
                           [projectSuccessPercentage]="item.success"
                           [projectWarningPercentage]="item.warning"
                           [projectInfoPercentage]="item.info"
                           [projectErrorPercentage]="item.error"></rbit-progress-bar>
        <div class="last-update-row">
          {{'Última actualización: ' + item.lastUpdate}}
        </div>
      </div>
    </div>
  </div>
</div>
