@import "../../../../theme/styles/styles";

@include themify() {



  .versions-project-main {
    flex: 1;

    .versions-wrap-items {
      height: calc(100vh - 190px);
      overflow-y: auto;
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
    }

    .version-item:hover {
      box-shadow: 0 3px 6px rgba(black, 0.3);
    }
    .version-item {
      margin-bottom: 20px;
      transition: all 0.2s;
      width: 234px;
      min-width: 234px;
      height: 138px;
      padding: 10px 15px;
      background-color: themed(background);
      border-radius: 3px;
      font-size: 12px;
      border: 2px solid themed(border-dashlet);
      margin-right: 10px;

      &.active-version {
        box-shadow: 0 3px 6px rgba(black, 0.3);
        width: 234px;
        border: 2px solid themed(primary-color);
      }

      .last-update-row {
        color: themed(d-analysis-text);
      }
      .progress-content-version {
        padding-top: 10px;
        .version-progress-detail {
          display: flex;
          .percentage {
            color: themed(primary-color);
          }
        }
      }
      .counter-version-row {
        display: flex;
        padding-top: 10px;
        align-items: center;
        height: 30px;
        .sub-item {
          padding: 0;
          align-items: center;
          display: flex;
          i {
            font-size: 14px;
            margin-right: 5px;
            &.success {
              color: themed(p-success);
            }
            &.error {
              color: themed(p-error);
            }
            &.warning {
              color: themed(p-warning);
            }
            &.rejected {
              color: themed(gray-1);
            }
          }
        }
      }
      .first-version-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .version-title {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .add-item-btn {
      color: themed(background);
      width: 19px;
      height: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: themed(primary-color);
      font-size: 10px;
      margin-right: 20px;
      border-radius: 4px;
    }
    .breadcrumb-project {
      font-size: 11px;
      display: flex;
      padding-bottom: 20px;
      div {
        cursor: pointer;
        padding-right: 10px;
      }
      .title {
        cursor: pointer;
        font-weight: 500;
      }
    }
    .versions-table-filters-section {
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .table-amount-section {
        padding-right: 20px;
        line-height: 1;
        font-size: 14px;
        font-weight: 700;
      }

      .standard-input-style {
        background-color: themed(background);
        border-radius: 3px;
        border: 1px solid themed(border-dashlet);
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-left: 10px;
        font-size: 12px;
        color: themed(d-analysis-text);
      }
      .search-input-filter {
        flex: 1;
        background: themed(background);
        input {
          width: 90%;
          background: none;
          border: none;
          outline: none;
        }
        .search-icon {
          width: 10%;
          min-width: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
        }
      }
    }
  }
}
