@import "../../../../theme/styles/styles";

#chartPerf{
  width: 100%;
  height: 80%;
}
#chartPerf2{
  width: 100%;
  height: 80%;
}
#chartPerf3{
  width: 100%;
  height: 80%;
}
#chartPerformance {
  width: 100%;
  height: 75%;
}

@include themify() {
  .toolbar {
    height: 100px;
    display: flex;
  }

  gridster {
    display: flex;
    height: calc(100vh - 146px);
    flex-direction: column;
  }

  gridster.mobileMode {
    height: 300vh;
  }

  gridster {
    background: themed(dashboard-gridster-bg);
  }

  gridster-item {
    border-radius: 3px;
    background: themed('background');
  }

  .title-card-special {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center;
    padding: 38px 28px 0px 28px !important;

    .card-description-tryout {
      padding-top: 5px;

      .bold {
        font-weight: 700;
      }
    }

    .try-btn {
      width: 90px;
      height: 25px;
      display: flex;
      align-items: center;
      margin-top: 10px;
      justify-content: center;
      color: themed(background);
      background-color: themed(primary-color);
      border-radius: 5px;
    }

    .try-image {
      position: absolute;
      right: 30px;
      bottom: 0px;
      width: 80px;
      z-index: 1000;
    }
  }

  // Title cards
  .title-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 28px 0px 28px;

    .title-card-text {
      span {
        font-size: 1.25rem;
        text-transform: capitalize;
        font-weight: 700;
      }
    }

    .title-card-icon {
      cursor: pointer;
    }
  }

  .title-performance {
    align-items: flex-start !important;
  }

  .controls-performance-container {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .standard-input-grid-style {
      i {
        font-size: 10px;
        margin-left: 10px;
      }
    }

    .second-container-performance {
      display: flex;

      .week {
        width: 70px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: themed(background);
        background-color: themed(primary-color);
        border-radius: 5px;
        margin-right: 10px;
      }

      .month {
        color: themed(primary-color);
      }
    }
  }

  .chips-performance-wrapper {
    display: flex;
    padding-top: 20px;

    .main-chip-performance {
      height: 20px;
      font-size: 10px;
      border-radius: 5px;
      margin-right: 10px;
      padding-left: 10px;
      padding-right: 10px;
      width: 90px;
      color: themed(background);
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        font-size: 8px;
      }
    }
  }

  .standard-input-grid-style {
    border-radius: 3px;
    border: 1px solid themed(border-dashlet);
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    color: themed(d-analysis-text);
  }

  // Project an testing list
  .projects-wrapper,
  .testing-wrapper {
    width: 100%;
    position: relative;
    height: calc(100% - 77px);
    padding: 0 28px;
    overflow-y: auto;
  }

  .testing-wrapper-custom {
    width: 100%;
    height: calc(100% - 25%);
    padding: 0 28px;
    overflow-y: auto;
  }

  .projects-wrapper::-webkit-scrollbar,
  .testing-wrapper-custom::-webkit-scrollbar,
  .testing-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f500;
  }

  .projects-wrapper::-webkit-scrollbar-thumb,
  .testing-wrapper-custom::-webkit-scrollbar-thumb,
  .testing-wrapper::-webkit-scrollbar-thumb {
    background-color: #DBDBDB;
    border-radius: 3px;
  }
}