<gridster [options]="options" [ngClass]="{'mobileMode': isOnMobileMode}" class="animated fadeIn">
  <gridster-item [item]="gridsterItem1">
    <d-analysis-indicator [backgroundColor]="'yellow'"
                          [fontIcon]="'e909'"
                          [text]="'Proyectos'"
                          [number]="269"
                          
                          [hasProgressBar]="true"
                          [percentageProgressBar]="75"></d-analysis-indicator>
  </gridster-item>
  <gridster-item [item]="gridsterItem2">
    <d-analysis-indicator [text]="'Completados'"
                          [number]="123" [secondaryNumber]="269"></d-analysis-indicator>
  </gridster-item>
  <gridster-item [item]="gridsterItem3">
    <d-analysis-indicator [text]="'En progreso'" 
                          [number]="114" [secondaryNumber]="269"></d-analysis-indicator>
  </gridster-item>
  <gridster-item [item]="gridsterItem4">
    <d-analysis-indicator [text]="'Retrasados'" 
                          [number]="10" [secondaryNumber]="32"></d-analysis-indicator>
  </gridster-item>
  <gridster-item [item]="gridsterItem5">
    <rbit-d-title-card-header [cardTitle]="'Actividad reciente'" cardTitleButton="true" >
    </rbit-d-title-card-header>
    <div class="testing-wrapper">
      <rbit-d-avatar-card-header *ngFor="let item of ['','','','','','']"
        [hour]="'Hoy 09:10'"
        [textView]="'ha comentado los Casos de prueba del proyecto Road y ha comentado los Casos de usos del proyecto Road'" 
        [developersView]="'true'" [imgTesting]="'../../../../../assets/img/proyects/Layer6.png'"
        [developerName]="'Dionisio Lagunes'" ></rbit-d-avatar-card-header>
    </div>
    <!-- <rbit-basic-button style="
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    display: flex;
    font-size: 10px;
    " 
    [withOutBackground]="true"> Ver todas</rbit-basic-button> -->
  </gridster-item>

  <gridster-item [item]="gridsterItem6">
    <rbit-d-title-card-header [cardTitle]="'Top testers'" cardTitleButton="true">
    </rbit-d-title-card-header>
    <div class="testing-wrapper">
      <rbit-d-avatar-card-header [developerBullets]="'1'" [imgTesting]="'../../../../../assets/img/proyects/Layer6.png'" [developerName]="'Dionisio Lagunes'" [developerPoints]="'1243'" ></rbit-d-avatar-card-header>
      <rbit-d-avatar-card-header [developerBullets]="'1'" [imgTesting]="'../../../../../assets/img/proyects/Layer6.png'" [developerName]="'Damian Martinez'" [developerPoints]="'1243'" ></rbit-d-avatar-card-header>
      <rbit-d-avatar-card-header [developerBullets]="'1'" [imgTesting]="'../../../../../assets/img/proyects/Layer6.png'" [developerName]="'Edgar Herrera'" [developerPoints]="'1243'" ></rbit-d-avatar-card-header>
      <rbit-d-avatar-card-header [developerBullets]="'1'" [imgTesting]="'../../../../../assets/img/proyects/Layer6.png'" [developerName]="'Erubiel recoba'" [developerPoints]="'1243'" ></rbit-d-avatar-card-header>
    </div>
  </gridster-item>

  <gridster-item [item]="gridsterItem7">
    <div style="    
    width: 100%;
    position: relative;
    height: 100%;
    padding: 5 18px;
    overflow-y: auto;" >
      <div style="flex-direction: row; display: flex; justify-content: space-between;">
        <rbit-d-title-card-header [cardTitle]="'Pruebas'">
        </rbit-d-title-card-header>
        <div style="display: flex; flex-direction: row;">
          <rbit-basic-button [bgColor]="'yellow'" (click)="buttonGrid = !buttonGrid" [withOutBackground]="buttonGrid" style="padding: 1rem;">
            Semana</rbit-basic-button>
          <rbit-basic-button [bgColor]="'yellow'" (click)="buttonGrid = !buttonGrid" [withOutBackground]="!buttonGrid" style="padding: 1rem;">
            Mes</rbit-basic-button>
        </div>
      </div>
      <div id="chartPerformance"></div>
    </div>
    

  </gridster-item>
  <gridster-item [item]="gridsterItem8">
    <rbit-d-title-card-header [cardTitle]="'Proyectos'" cardTitleButton="true">
    </rbit-d-title-card-header>
    <div class="testing-wrapper" style="display: flex; flex-direction: row;">
      <div id="chartPerf"></div>
      <div id="chartPerf2"></div>
      <div id="chartPerf3"></div>
    </div>
    
  </gridster-item>
</gridster>
