@import "../../styles/styles";

$font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;

@include themify() {
  .rbit-form-field {
    width: 100%;

    display: inline-block;
    position: relative;
    text-align: left;
  }
  .rbit-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: $font-family;
  }

  // Form wrapper
  .rbit-form-field-wrapper {
    padding-bottom: 1.25em;
    position: relative;
  }
  .rbit-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 100%;
  }
  .mat-form-field-infix {
    padding: .4375em 0;

    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;

    border-top: .84375em solid transparent;
  }

  .rbit-text-field-autofill-monitored:not(:-webkit-autofill) {
    -webkit-animation-name: cdk-text-field-autofill-end;
    animation-name: cdk-text-field-autofill-end;
  }
  input.rbit-input-element {
    margin-top: .5625em;
  }
  .rbit-input-element {
    -webkit-appearance: none;
  }
  .rbit-input-element {
    font: inherit;
    background: 0 0;
    color: themed('input-type-text-color');
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
  }
  .rbit-input-element {
    &.yellow {caret-color: themed('input-element');}
    &.red {caret-color: themed('input-element-red');}
  }

  // Label
  .rbit-form-field-label-wrapper {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }
  .rbit-form-field-label-wrapper {
    top: -.84375em;
    padding-top: .84375em;
  }
  .rbit-form-field-label {
    position: absolute;
    left: 0;
    font: inherit;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform-origin: 0 0;
    transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
    display: none;
  }
  .rbit-form-field-label {
    top: 1.28125em;
  }
  .rbit-form-field-label {
    display: block;
  }
  .rbit-form-field-empty {
    display: block;
  }
  .rbit-form-field-label {
    color: themed('input-field-label');
  }
  .rbit-form-field-label {
    -ms-transform: none;
    transform: perspective(100px);
  }
  .rbit-focused, .rbit-should-float-label {
    .rbit-form-field-label {
      transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
      -ms-transform: translateY(-1.28125em) scale(.75);
      width: 133.33333333%;
    }
  }
  .rbit-focused {
    .rbit-form-field-label {
      &.yellow {color: themed('input-field-label-focus');}
      &.red {color: themed('input-field-label-focus-red');}
    }
  }


    // Line
  .rbit-form-field-underline {
    height: 1px;

    bottom: 1.25em;
    background-color: themed('input-underline-color');

    position: absolute;
    width: 100%;
    pointer-events: none;
    transform: scaleY(1.0001);
  }
  .rbit-form-field-ripple {
    top: 0;
    height: 2px;
    overflow: hidden;

    position: absolute;
    left: 0;
    width: 100%;
    transform-origin: 50%;
    transform: scaleX(.5);
    opacity: 0;
    transition: background-color .3s cubic-bezier(.55,0,.55,.2);

    background-color: themed('input-underline-color');
  }
  .rbit-focused {
    .rbit-form-field-ripple {
      opacity: 1;
      transform: scaleX(1);
      transition: transform .3s cubic-bezier(.25,.8,.25,1),
        opacity .1s cubic-bezier(.25,.8,.25,1),
        background-color .3s cubic-bezier(.25,.8,.25,1);
    }
    .rbit-form-field-ripple {
      &.yellow {background-color: themed('input-underline-ripple');}
      &.red {background-color: themed('input-underline-ripple-red');}
    }
  }

  // Placeholder
  .rbit-form-field-hide-placeholder::-webkit-input-placeholder {
    color: transparent;
  }
  .rbit-form-field-hide-placeholder::-moz-placeholder {
    color: transparent;
  }
  .rbit-form-field-hide-placeholder:-moz-placeholder {
    color: transparent;
  }
  input::placeholder {
    color: transparent;
  }
}
