<div class="rbit-form-field rbit-form-field-hide-placeholder"
     [ngClass]="{'rbit-focused' : focused, 'rbit-should-float-label' : !!aValue}">
  <div class="rbit-form-field-wrapper">
    <div class="rbit-form-field-flex">

      <div class="mat-form-field-infix">
        <input class="rbit-input-element rbit-text-field-autofill-monitored"
               id="{{_uid}}"
               placeholder="{{aPlaceholder}}"
               [(ngModel)]="aValue"
               (change)="_handleChange($event)"
               (blur)="_focusChanged(false)"
               (focus)="_focusChanged(true)"
               (input)="_onInput()"
               type="text">
        <span class="rbit-form-field-label-wrapper">
          <label class="rbit-form-field-label" [ngClass]="colorOnFocus" for="{{_uid}}" id="{{_uidLabel}}">
            <span>
              {{aPlaceholder}}
            </span>
          </label>
        </span>
      </div>
    </div>

    <div class="rbit-form-field-underline">
      <span class="rbit-form-field-ripple" [ngClass]="colorOnFocus"></span>
    </div>
    <!--Aqui falta lo del texto de error-->
  </div>
</div>
