

    <div class="w-100 h-100" *ngIf="columnDef">
      <div class="head-table-style">
        <div class="head-item" [ngClass]="{'head-item-flex-1': !item.width}" *ngFor="let item of columnDef" [style.width.px]="item.width">
          {{item.title}}
        </div>
      </div>
      <div *ngIf="dataSource?.length > 0" class="body-table-style">
        <div class="table-inner-item" *ngFor="let item of dataSource; let i = index;">
        <div class="table-row-item" [ngClass]="{'extra-border' : item.extraBorder}" [style.borderLeftColor]="item.extraBorder">

            <ng-container  *ngFor="let element of columnDef">
              <div *ngIf="!element.groupField" class="table-cell-item" (click)="rowClicked.emit(item); onCellClicked(item, element);" [ngClass]="{'table-cell-item-flex-1': !element.width}"  [style.width.px]="element.width" [innerHTML]="element.cellRenderer ? (element.cellRenderer(item[element.field], item) | safeHtml) :item[element.field]">
              </div >

              <div *ngIf="element.groupField" class="table-cell-item arrow-expand" [ngClass]="{'table-cell-item-flex-1': !element.width}"  [style.width.px]="element.width"  (click)="showTableDetail(item, i)">
                <img  src=".assets/img/collapse_icon_gray.png" [style.transform]=" item.expanded ? 'rotate(0deg)' : 'rotate(-90deg)'">
                <div class="table-row-detail animated tableDetailEntry" *ngIf="item.expanded">
                  <div #componentFactory ></div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

