@import "../../styles/styles";

@include themify(true) {
  roastbit-table-component {
    /*
    *   Table styles - TODO: Convert into global styles
    */

    .arrow-expand {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
      cursor: pointer;
      img {
        transition: all 0.2s ease-in ;
      }
    }




    .head-table-style {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      width: 100%;
      height: 35px;
      display: flex;
      color: themed(table-header-text);
      font-weight: 500;
      font-size: 12px;
      background-color: themed(layoutBackground);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      .head-item {
        display: flex;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        justify-content: flex-start;
      }
      .head-item-flex-1 {
        flex: 1;
      }
    }

    .body-table-style {
      font-size: 13px;
      height: calc(100% - 35px);
      overflow: auto;
      .table-inner-item {
        padding: 4px 2px;
        .table-row-item {
          background: themed(background);
          position: relative;
          display: flex;
          height: 46px;
          transition: box-shadow 0.3s ease;
          border: 1px solid themed(border-dashlet);
          border-radius: 5px;
          box-shadow: 0px 0px 4px rgba(black, 0.0);
          &.extra-border {
            border-left: 3px solid black;
          }
          .table-cell-item {
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
            align-items: center;
            height: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden
          }
          .table-cell-item-flex-1 {
            flex: 1;
          }
        }
        .table-row-item:hover {
          box-shadow: 0px 0px 4px rgba(black, 0.3);
        }
      }


      .table-row-detail {
        width: calc(100% - 1px);
        position: absolute;
        z-index: 10;
        left: 0;
        top: 46px;
        height: 120px;
        border-radius: 1px 1px 12px 12px;
        box-shadow: 5px 5px 11px themed(mainText);
        background: themed(background);
      }
    }

    .tableDetailEntry {
      animation-duration: 0.4s;
      -webkit-animation-name: tableDetailEntry;
      animation-name: tableDetailEntry;
    }
  }
  @keyframes tableDetailEntry {
    from {
      height: 0;
    }
    to {
      height: 120px;
    }
  }
  /**
  *   End of table styles
  **/
}
