<div class="analysis-content" [ngClass]="{
		 'analysis-yellow-background': backgroundColor === 'yellow',
		 'analysis-green-background': backgroundColor === 'green',
		 'analysis-gray-background': backgroundColor === 'gray',
		 'analysis-red-background': backgroundColor === 'red',
		 'analysis-blue-background': backgroundColor === 'blue',
		 'analysis-black-background': backgroundColor === 'black'
	}">
	<div class="sub-content">
		<div class="title">¡Hola Ernesto!</div>
		<div class="legend">Tienes 3 pruebas para el proyecto “Proyecto 1”</div>
	</div>
	<div class="sub-content-level" style=" display: flex;flex-direction: row;">
		<div style="
		display: flex;
		flex-direction: column;
		text-align: left;
		vertical-align: middle;
		margin-left: 0rem;
		margin-top: auto;
		margin-bottom: auto;
		position: relative;
		padding-right: .5rem;
		">
			<div class="text">
				<span class="sub-title">Nivel:</span> Super experto
				<span *ngFor="let item of [0,0,0]" style="font-size: 18px;
				justify-content: flex-end;
				color: #FFDF74;
				margin-top: -2px;
				margin-right: 0px;
				margin-left: auto;">&#9733;</span>
			</div>
			<div class="sub-title">243 puntos</div>
		</div>
		<img  style=" display: flex;flex-direction: column; width: 25%; margin-right: -5rem;" src="../../../../../assets/img/proyects/cup.svg">
	</div>

</div>