@import "../../../../theme/styles/styles";


@include themify() {
  // Variables
  $indicator-yellow: themed(d-analysis-card-yellow-bg);
  $indicator-green: #75BA75;
  $indicator-gray: #7E7D7D;
  $indicator-red: #C54338;
  $indicator-blue: #034DD8;
  $indicator-black: #000000;
  $background-card-color: themed(d-analysis-card-bg);

  .d-analysis-full-cover {
    width: 100%;
    height: 100%;
  }

  .analysis-content {
    flex-direction: row;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: $background-card-color;
    justify-content: space-between;
  }

  .sub-content-level {
    background-color: #DA9219B8;
    border-radius: 3px;
    margin-right: 6rem;
    padding-left:14px;
    width: 50%;

    .text {
      font-size: .875rem;
    }

    .sub-title {
      font-weight: bold;
    }
  }

  .sub-content {
    padding: 1.5625rem 2rem;
    width: 100%;
    .title {
      font-size: 1.5625rem;
      font-weight: bold;
    }

    .legend {
      font-size: 0.75rem;
    }
  }

  .analysis-yellow-background {
    background-color: $indicator-yellow;
    color: #ffffff;
  }

  .analysis-green-background {
    background-color: $indicator-green;
    color: #ffffff;
  }

  .analysis-gray-background {
    background-color: $indicator-gray;
    color: #ffffff;
  }

  .analysis-red-background {
    background-color: $indicator-red;
    color: #ffffff;
  }

  .analysis-blue-background {
    background-color: $indicator-blue;
    color: #ffffff;
  }

  .analysis-black-background {
    background-color: $indicator-black;
    color: #ffffff;
  }
}