<rbit-modal-change-version *ngIf="showChangeVersionModal" (accept)="changeVersion()" (cancel)="showChangeVersionModal = false;">

</rbit-modal-change-version>

<div class="single-project-container">
    <div class="single-project-main animated fadeInUp">
      <div class="breadcrumb-project">
        <div>{{'Proyectos'}}</div> <div>{{'/'}}</div><div class="title">{{'Proyecto 1 Versión 2.3'}}</div>
      </div>

      <div class="projects-table-filters-section">
        <div class="d-flex align-items-center col-5">
          <div class="table-amount-section">
            {{'Versiones'}} {{'(20)'}}
          </div>
          <div class="add-item-btn">
            <i class="rosbit-i rb-e90b"></i>
          </div>
          <div class="standard-input-style search-input-filter">
            <input type="text" [placeholder]="'Búsqueda'"/>
            <div class="search-icon"><i class="rosbit-i rb-e904"></i></div>
          </div>
        </div>
        <div class="secondary-section-filters col-7 d-flex justify-content-end align-items-end">
          <div class="view-all-versions" (click)="goVersionsPage()">{{'Ver todas'}}</div>
        </div>
      </div>
      <div class="versions-row">

        <div class="version-item active-version" *ngIf="ActiveItem">
          <div class="first-version-row">
            <div class="version-title">{{'Versión ' + ActiveItem.version}}</div>
            <i class="rosbit-i rb-e912"></i>
          </div>
          <div class="counter-version-row">
            <div class="col-3 sub-item" *ngFor="let subItem of ActiveItem.counters">
              <i class="rosbit-i rb-{{getIconByTag(subItem.tag)}}" [ngClass]="subItem.tag"></i>
              <div>{{subItem.count}}</div>
            </div>
          </div>
          <div class="progress-content-version">
            <div class="version-progress-detail">
              <div class="percentage">{{'100%'}}</div>&nbsp;-&nbsp;
              <div>{{ActiveItem.completed}}&nbsp;/&nbsp;{{ActiveItem.total}}&nbsp;{{'Pruebas'}}</div>
            </div>
            <rbit-progress-bar [paddingTop]="7"  [paddingBottom]="7"[projectSuccessPercentage]="100"></rbit-progress-bar>
            <div class="last-update-row">
              {{'Última actualización: ' + ActiveItem.lastUpdate}}
            </div>
          </div>
        </div>
        <div *ngIf="showPrev" class="carousel-btn prev" (click)="scrollCarouselLess(versionsCarousel)">
          <i class="rosbit-i rb-e90d"></i>
        </div>
        <div *ngIf="showNext" class="carousel-btn next" (click)="scrollCarouselMore(versionsCarousel)">
          <i class="rosbit-i rb-e90d"></i>
        </div>
        <div class="versions-carousel-container" #versionsCarousel>
          <div class="version-item" *ngFor="let item of versionsList" (click)="performChangeVersion(item)">
            <div class="first-version-row">
              <div class="version-title">{{'Versión ' + item.version}}</div>
              <i class="rosbit-i rb-e912"></i>
            </div>
            <div class="counter-version-row">
              <div class="col-3 sub-item" *ngFor="let subItem of item.counters">
                <i class="rosbit-i rb-{{getIconByTag(subItem.tag)}}" [ngClass]="subItem.tag"></i>
                <div>{{subItem.count}}</div>
              </div>
            </div>
            <div class="progress-content-version">
              <div class="version-progress-detail">
                <div class="percentage">{{'100%'}}</div>&nbsp;-&nbsp;
                <div>{{item.completed}}&nbsp;/&nbsp;{{item.total}}&nbsp;{{'Pruebas'}}</div>
              </div>
              <rbit-progress-bar [paddingTop]="7"  [paddingBottom]="7"[projectSuccessPercentage]="100"></rbit-progress-bar>
              <div class="last-update-row">
                {{'Última actualización: ' + item.lastUpdate}}
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="projects-table-filters-section">
       <div class="d-flex align-items-center col-5">
         <div class="table-amount-section">
           {{'Pruebas'}} {{'(134)'}}
         </div>
         <div class="add-item-btn">
           <i class="rosbit-i rb-e90b"></i>
         </div>
         <div class="standard-input-style search-input-filter">
           <input type="text" [placeholder]="'Búsqueda'"/>
           <div class="search-icon"><i class="rosbit-i rb-e904"></i></div>
         </div>
       </div>
        <div class="secondary-section-filters col-7">
          <div class="standard-input-style input-status">
            {{'Estado'}}
            <i class="rosbit-i rb-e90e"></i>
          </div>
          <div class="standard-input-style input-status input-sort">
            {{'Ordenar por'}}
            <i class="rosbit-i rb-e90e"></i>
          </div>
        </div>
      </div>

      <div class="table-container-section">
        <roastbit-table-component [dataSource]="dataSource" [columnDef]="columnDef" (rowClicked)="goTestDetail($event)"></roastbit-table-component>
      </div>

    </div>
    <div class="single-project-detail animated fadeInRight" [ngClass]="openChat">
        <!-- lash -->
        <div class="lash-wrapper">
            <div class="lash" [ngClass]="openChat" (click)="toggleChat()">
                <!-- <i class="rosbit-i rb-e900"></i> -->
              <i class="rosbit-i rb-e90d"></i>
            </div>

            <div class="chat" [ngClass]="openChat">
                <div *ngIf="openChat?.open" class="chat-container">
                    <div class="title-chat">
                        Mensajes
                    </div>
                    <div class="chat-integrants">
                        <img src="../../../../../assets/img/proyects/Layer6.png">
                        <img src="../../../../../assets/img/proyects/Layer2.png">
                        <img src="../../../../../assets/img/proyects/Layer6.png">
                        <img src="../../../../../assets/img/proyects/Layer2.png">
                    </div>
                    <div class="chat-messages">
                        <div class="chat-bubble">Mensaje 1</div>
                        <div class="chat-bubble">Esto es un mensaje bastante largo para comprobar funcionalidad de los globos dentro del chat</div>

                    </div>
                    <div class="chat-input-container">
                        <div class="chat-input"
                            (input)="fakeTyping($event.target.innerHTML, $event)"
                            contenteditable="true"></div>
                        <div *ngIf="!typingText" class="chat-placeholder">
                          Escribe un mensaje
                        </div>
                        <div class="chat-send-button">
                          <i class="rosbit-i rb-e915"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overflow">
            <!-- Edition -->
            <div class="edition-wrapper">
                <rbit-icon-button [iconCode]="'e900'"></rbit-icon-button>
                <rbit-icon-button [iconCode]="'e903'"></rbit-icon-button>
            </div>
            <!-- Project name -->
            <div class="section-info-detail-wrapper first">
                <div class="label">Proyecto</div>
                <div class="title">#Proyecto1</div>
            </div>
            <!-- Tipo -->
            <div class="section-info-detail-wrapper">
                <div class="label">Tipo</div>
                <div class="title">Aplicación móvil</div>
            </div>
            <!-- Pruebas -->
            <div class="section-info-detail-wrapper">
                <div class="label">Pruebas</div>
                <div class="title">134</div>
            </div>
            <!-- Vencimiento -->
            <div class="section-info-detail-wrapper">
                <div class="label">Vencimiento</div>
                <div class="title">-</div>
            </div>
            <!-- Actualización -->
            <div class="section-info-detail-wrapper">
                <div class="label">Actualización</div>
                <div class="title">13/02/20 12:32</div>
            </div>
            <!-- Testers -->
            <div class="section-info-detail-wrapper">
                <div class="label">Testers</div>
                <div class="title">Aplicación móvil</div>
            </div>
            <!-- Etiqueta -->
            <div class="section-info-detail-wrapper">
                <div class="label">Etiqueta</div>
                <div class="title">-</div>
            </div>
            <!-- Versión -->
            <div class="section-info-detail-wrapper">
                <div class="label">Versión</div>
                <div class="title">Versión 1.2 / Versión 2.3</div>
            </div>
            <!-- Descripción -->
            <div class="section-info-detail-wrapper">
                <div class="label">Descripción</div>
                <div class="title">Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, …</div>
            </div>
        </div>
    </div>
</div>
