@import "../../../../theme/styles/styles";

$labelText: #8C8989;
$titleText: #4B4040;
$lashBg: #939393;
$chatBg: #ffffff;
$chatBorder: #DBDBDB;
$chatTitleColor: #4B4040;
$chatIntegrantBorder: #DBDBDB;
$chatInputPlaceholder: #939393;

@include themify(true) {
  rbit-single-project {
    .single-project-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      height: 100%;
      width: 100%;
    }
    // Main content
    .single-project-main {
      padding-right: 40px;
      flex: 1;
      .progress-container {
        position: relative;
        padding: 20px 0;
      }
      .breadcrumb-project {
        font-size: 11px;
        display: flex;
        padding-bottom: 20px;
        div {
          padding-right: 10px;
        }
        .title {
          cursor: pointer;
          font-weight: 500;
        }
      }
      .view-all-versions {
        font-size: 12px;
        text-decoration: underline;
        color: themed(primary-color);
        cursor: pointer;
      }
      .add-item-btn {
        color: themed(background);
        width: 19px;
        height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: themed(primary-color);
        font-size: 10px;
        margin-right: 20px;
        border-radius: 4px;
      }

      .versions-row {
        margin-bottom: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        height: 189px;

        .versions-carousel-container {
          overflow-x: auto;
          display: flex;
          max-width: calc(100vw - 626px);
          min-width: calc(100vw - 626px);
          height: 189px;
          align-items: center;
          flex: 1;
        }
        .versions-carousel-container::-webkit-scrollbar {
          display: none;
        }

        .add-version-btn:hover {
          cursor:pointer;
          opacity: 0.5;
        }
        .add-version-btn {
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 138px;
          width: 170px;
          border: 2px dashed themed(input-element);
          transition: all 0.2s;
          .add-icon {
            background: themed(input-element);
            border-radius: 3px;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            line-height: 0;
            font-weight: 500;
            color: themed(background);
          }

          .add-text {
            padding-top: 10px;
            font-weight: 500;
            color: themed(input-element);
            font-size: 14px;
          }
        }

        .version-item:hover {
          box-shadow: 0 3px 6px rgba(black, 0.3);
        }
        .version-item {
          cursor: pointer;
          transition: all 0.2s;
          width: 234px;
          min-width: 234px;
          height: 138px;
          padding: 10px 15px;
          background-color: themed(background);
          border-radius: 3px;
          font-size: 12px;
          border: 0.5px solid themed(border-dashlet);
          margin-right: 10px;

          &.active-version {
            width: 234px;
            margin-right: 40px;
            box-shadow: 0 3px 6px rgba(black, 0.3);
            border: 2px solid themed(primary-color);
          }

          .last-update-row {
            color: themed(d-analysis-text);
          }
          .progress-content-version {
            padding-top: 10px;
            .version-progress-detail {
              display: flex;
              .percentage {
                color: themed(primary-color);
              }
            }
          }
          .counter-version-row {
            display: flex;
            padding-top: 10px;
            align-items: center;
            height: 30px;
            .sub-item {
              padding: 0;
              align-items: center;
              display: flex;
              i {
                font-size: 14px;
                margin-right: 5px;
                &.success {
                  color: themed(p-success);
                }
                &.error {
                  color: themed(p-error);
                }
                &.warning {
                  color: themed(p-warning);
                }
                &.rejected {
                  color: themed(gray-1);
                }
              }
            }
          }
          .first-version-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .version-title {
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }
      .projects-table-section {
        align-items: flex-end;
        padding-top: 20px;
        display: flex;
        .table-title-section {
          line-height: 1;
          padding: 0 10px 0 0;
          font-size: 20px;
          font-weight: 700;
        }

        .table-version-section {
          line-height: 1;
          padding: 0 10px;
          font-size: 12px;
          font-weight: 500;
        }
      }

      .projects-table-filters-section {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .table-amount-section {
          padding-right: 20px;
          line-height: 1;
          font-size: 14px;
          font-weight: 700;
        }

        .standard-input-style {
          background-color: themed(background);
          border-radius: 3px;
          border: 1px solid themed(border-dashlet);
          height: 27px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          padding-left: 10px;
          font-size: 12px;
          color: themed(d-analysis-text);
        }
        .search-input-filter {
          flex: 1;
          background: themed(background);
          input {
            width: 90%;
            background: none;
            border: none;
            outline: none;
          }
          .search-icon {
            width: 10%;
            min-width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
          }
        }
      }
      .secondary-section-filters {
        display: flex;
        justify-content: flex-end;
        .input-status {
          margin-left: 15px;
          padding-right: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100px;
          i {font-size: 10px;}
        }
        .input-sort {
          width: 120px;
        }
      }
      .table-container-section {
        height: calc(100vh - 437px);
        width: 100%;
      }
    }

    // Detail content
    .single-project-detail {
      width: 160px;//280px;
      transition: width 0.5s;
      &.open {
        width: 310px;
      }
      .overflow {
        overflow-y: auto;
        height: 100%;
      }

      .lash-wrapper {
        width: 100%;
        position: relative;
        .lash {
          position: absolute;
          top: 0;
          right: -41px;

          width: 20px;
          height: 31px;
          border-radius: 3px 0 0 3px;
          background-color: themed(primary-color);
          box-shadow: 0 3px 5px #00000029;
          cursor: pointer;

          display: flex;
          justify-content: center;
          align-items: center;

          color: #ffffff;

          font-size: 11px;

          transition: right 0.5s;
          &.open {
            right: 303px;
            background-color: $lashBg;
            z-index: 5;
          }
        }
        .chat {
          position: absolute;
          top: 0;
          right: -41px;
          transition: width 0.5s;

          width: 0;
          height: calc(100vh - 146px);

          &.open {
            width: 351px;
            background-color: themed(background);
            border: 0.5px solid themed(border-dashlet);
            z-index: 4;
          }
        }
      }
      .edition-wrapper {
        display: flex;
        flex-direction: row;
      }

      .section-info-detail-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &.first {
          margin-top: 19px;
        }

        margin-top: 29px;

        .label {
          color: $labelText;
          font-size: 10px;
        }
        .title {
          color: themed(mainText);
          font-size: 12px;
        }
      }
    }

    .chat-container {
      padding: 14px 38px 0 38px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      height: 100%;

      .title-chat {
        font-size: 20px;
        color: themed(mainText);
        text-transform: capitalize;
        font-weight: bold;
      }

      .chat-integrants {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid themed(background);
        border-bottom: 1px solid themed(background);
        padding: 10px 0;
        img {
          border: 3px solid themed(background);
          margin-right: -10px;
          border-radius: 5px;
          object-fit: cover;
          width: 30px;
          height: 30px;
        }
      }

      .chat-messages {
        padding-top: 30px;
        overflow-y: auto;
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        height: calc(100% - 102px);
        border-bottom: 1px solid themed(border-dashlet);

        .chat-bubble {
          margin-bottom: 10px;
          max-width: 100%;
          padding: 10px;
          width: max-content;
          border-radius: 20px;
          background-color: themed(primary-color);
          color: themed(background)
        }
      }
      .chat-input-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 48px;

        position: relative;
      }
      .chat-placeholder {
        color: $chatInputPlaceholder;
        position: absolute;
      }
      .chat-input {
        flex: 1;
        max-height: 48px;
        z-index: 10;
      }
      .chat-send-button {
        width: 19px;
        height: auto;
        text-align: center;
      }
    }
    @media screen and (max-width: 1140px) {
      .single-project-main .versions-row .version-item {
        width: 35%;
      }
    }
    @media screen and (max-width: 940px) {
      .single-project-main .versions-row .version-item {
        width: 50%;
      }
    }


    /*
    *  TABLE RENDERER CLASSES
    */
    .status-container-single-project {
      padding: 5px;
      font-size: 10px;
      font-weight: 500;
      border-radius: 3px;
      display: flex;
      align-items: center;
      i {
        font-size: 12px;
        padding-right: 5px;
      }
      &.tag-success {
        color: themed(tag-lbl-success);
        background-color: rgba(themed(tag-success), 0.2);
      }
      &.tag-error {
        color: themed(tag-lbl-error);
        background-color: rgba(themed(tag-error), 0.2);
      }
      &.tag-warning {
        color: themed(tag-lbl-warning);
        background-color: rgba(themed(tag-warning), 0.2);
      }
      &.tag-rejected {
        color: themed(tag-lbl-rejected);
        background-color: rgba(themed(tag-rejected), 0.2);
      }
    }

    .carousel-btn {
      width: 29px;
      height: 29px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: themed(background);
      box-shadow: 0 3px 6px rgba(black, 0.3);
      font-size: 12px;
      transition: all 0.2s;
      &.next {
        position: absolute;
        right: -15px;
        i {
          transform: rotateY(180deg);
        }
      }
      &.prev {
        position: absolute;
        left: 259px;
      }
    }
    .carousel-btn:hover {
      cursor: pointer;
      background-color: themed(primary-color);
      color: themed(background);
    }
    .carousel-btn:active {
      background-color: rgba(themed(primary-color), 0.7);
    }

    .activity-container-project-table {
      .item {
        padding-left: 10px;
        i {
          padding-left: 5px;
        }
      }
    }
    /* END OF TABLE RENDERER CLASSES */
  }
}

