@import "../../../../theme/styles/styles";

@include themify() {
  .input-description {
    padding-top: 10px;
    font-size: 12px;
    color: themed(mainText)
  }
  .check-proyect {
    position: absolute;
    right: -15px;
    top: -15px;
    display: none;
    font-size: 30px !important;

    &.active {
      display: flex;
    }
  }

  .project-add-test-input-space {
    padding-top: 10px;
    height: 40px;
    font-size: 12px;
    color: themed(mainText)
  }
  .project-add-test-input-area {
    border-radius: 3px;
    border: 1px solid themed(border-dashlet);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 12px;
    color: themed(d-analysis-text);
    flex-direction: column;

    .input-area {
      padding-left: 10px;
      padding-right: 10px;
      outline: none;
      width: 100%;
      color: themed(mainText);
      border: none;
      background: none;
      resize: none;
    }
    .section-input-file {
      border-top: 1px dashed themed(border-dashlet);
      width: 100%;
      label {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
      }
      .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
    }
  }
  .project-add-test-input-style {
    border-radius: 3px;
    border: 1px solid themed(border-dashlet);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    color: themed(d-analysis-text);

    input {
      outline: none;
      width: 100%;
      color: themed(mainText);
      border: none;
      background: none;
    }

    .editableInput {
      color: themed(mainText);
      margin-top: 20px;
      width: 100%;
      height: 100%;
      outline: none;
    }
  }
}
