<div class="animated custom-modal-form-container d-flex justify-content-center align-items-center">
  <div class="modal-content-vertical animated" >
    <div class="modal-header">
      <div class="text-header">
        {{'Crear prueba'}}
      </div>
      <div class="modal-close-icon">
        <i class="rosbit-i rb-e913" (click)="close()"></i>
      </div>
    </div>

    <div class="modal-body h-70 w-100">

      <div class="input-description">{{'Nombre *'}}</div>
      <div class="project-add-test-input-style">
        <input type="text"  class="w-100" />
      </div>
      <div class="input-description">{{'Descripción de la prueba *'}}</div>
      <div class="project-add-test-input-area">
        <textarea class="input-area w-100" rows="3"  placeholder="Proporcione cualquier información necesaria para conocer su proyecto, credenciales, etc.."></textarea>
        <div class="section-input-file">
          <input type="file" name="file" id="file" class="inputfile" />
          <label for="file">¡Adjunta o arrastra archivos aquí!</label>
        </div>

      </div>
      <div class="input-description">{{'Información adicional'}}</div>
      <div class="project-add-test-input-style">
        <input type="text" placeholder="Ejemplo: https://" class="w-100" />
      </div>
      <div class="input-description">{{'Etiquetas'}}</div>
      <div class="project-add-test-input-style">
        <input type="text" placeholder="Etiquete su proyecto, separe las etiquetas con comas" class="w-100" />
      </div>
      <div class="project-add-test-input-space d-flex justify-content-start align-items-center  w-100">
        <label class="roasbit-check-button">
          <input type="checkbox"
                 [value]="null"
                 [checked]="isVersionRoast"
                 (change)="null"/>
          <span class="roasbit-check-mark"></span>
        </label>
        {{'Versión Roast'}}
      </div>
    </div>

    <div class="modal-footer">
      <div class="d-flex justify-content-center align-items-center  w-100">
        <rbit-basic-button [bgColor]="'red-2'" (click)="close()" class="w-100">
          Crear prueba
        </rbit-basic-button>
      </div>
    </div>

  </div>
</div>
