<!--<div [ngClass]="expand ? 'sidebar expand' : 'sidebar'">-->
<div class="sidebar">
  <ul class="sidebar-list">
    <li *ngFor="let item of menuCollection">
      <a (click)="performSelection(item)">
       <i class="rosbit-i rb-{{item.icon}}" [ngClass]="{'active' : item.active}"></i>
        <!--<i class="menu-item-icon" [ngClass]="item.active ? item.icon + ' active-item active-item-font' : item.icon"  ></i>-->
        <!--<span class="title-item" [ngClass]="item.active ? 'active-item-font':''">{{item.title}}</span>-->
      </a>
      <div *ngIf="item.active" class="sidebar-pointer">
        <div class="sidebar-pointer-dot"></div>
      </div>
    </li>
  </ul>
  <button (click)="changeTheme()" class="sidebar-close-session">
    <img src="./assets/img/menu/changeTheme.svg" alt="">
    <!--<i class="icon-expander icon-ICON13" [ngClass]="expand ? 'rotate-chevron' : ''"></i>-->
  </button>
</div>
