@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import "../../styles/styles";


@include themify(){

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
    height: calc(100% - 70px);
    width: 87px;
    position: fixed;
    z-index: 10;
    top: 70px;
    left: 0;
    background-color: themed('background');
    //overflow: hidden;//If you want all your text be inside the div element
    transition: all 0.15s;
    //border-right: 1px solid themed('borderSidebar');
  }

  .sidebar-list {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style-type: none;
  }

  .sidebar-list li {
    margin-bottom: 68px;
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0;
  }

  .sidebar-list li a {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s;
    justify-content: center;
    i {
      font-size: 22px;
      &.active {
        color: themed(primary-color);
      }
    }

    //color: themed('iconColor');
  }

  .menu-item-icon {
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    //font-size: 16px;
  }
  .title-item {
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 600;
    font-size: 12px;
  }
  .active-item {
    position: relative;
  }
  .active-item::after {
    content: "";
    height: 30px;
    width: 3px;
    position: absolute;
    left: 0;
    //background-color: themed('borderFocus');

  }
  .active-item-font {
    transition: all 0.2s;
    //color: themed('borderFocus');
  }

  .expand {
    width: 200px;
  }

  .sidebar-close-session{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
  }

  .icon-expander {
    transform: rotate(180deg);
    transition: 0.15s;
  }

  .rotate-chevron {
    transform: rotate(360deg);
  }

  // Pointer selector
  .sidebar-pointer {
    position: absolute;
    top: 9px;
    right: -11px;
    border-radius: 50%;
    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: themed(backgroundLayout);

    .sidebar-pointer-dot {
      border-radius: 50%;
      width: 9px;
      height: 9px;

      background-color: themed(primary-color);
    }
  }
}

