<gridster [options]="options" [ngClass]="{'mobileMode': isOnMobileMode}">
  <gridster-item [item]="gridsterItem1" img>
    <rbit-d-card-test [backgroundColor]="'red'">
    </rbit-d-card-test>
  </gridster-item>
  <gridster-item [item]="gridsterItem2">
    <rbit-d-title-card-header [cardTitle]="'Proceso de hoy'" cardTitleButton="true">
    </rbit-d-title-card-header>
    <div class="projects-wrapper">
      <div id="prueba2"></div>
    </div>

  </gridster-item>
  <gridster-item [item]="gridsterItem3">
    <rbit-d-title-card-header [cardTitle]="'Mensajes'" cardTitleButton="true"></rbit-d-title-card-header>

  </gridster-item>
  <gridster-item [item]="gridsterItem4">
    <rbit-d-title-card-header [cardTitle]="'Pruebas'" cardTitleButton="true" [cardSubTitle]="'13 de marzo 2020'">
    </rbit-d-title-card-header>
    <div class="testing-wrapper-custom">
      <d-testing-card [testingName]="'Revisar el botón de facturación'" [projectName]="'Proyecto 1'" [tag]="'#4E9DC4'"
        [status]="'Nueva'" [isTestingSuccess]="false" [imgTesting]="'./../../../../../assets/img/proyects/Layer.png'"
        ></d-testing-card>
      <d-testing-card [testingName]="'Revisar el botón de facturación'" [projectName]="'Proyecto 1'" 
        [status]="'Nueva'" [isTestingSuccess]="false" [imgTesting]="'./../../../../../assets/img/proyects/Layer.png'"
        ></d-testing-card>
      <d-testing-card [testingName]="'Revisar el botón de facturación'" [projectName]="'Proyecto 1'" [tag]="'#AAAAAA'"
        [status]="'Nueva'" [isTestingSuccess]="false" [imgTesting]="'./../../../../../assets/img/proyects/Layer.png'"
        ></d-testing-card>
      <d-testing-card [testingName]="'Revisar el botón de facturación'" [projectName]="'Proyecto 1'"
        [isTestingSuccess]="false" [imgTesting]="'./../../../../../assets/img/proyects/Layer.png'"
        [testingDate]="'Hoy 09:10'"></d-testing-card>
      <d-testing-card [testingName]="'Revisar el botón de facturación'" [projectName]="'Proyecto 1'"
        [isTestingSuccess]="false" [imgTesting]="'./../../../../../assets/img/proyects/Layer.png'"
        [testingDate]="'Hoy 09:10'"></d-testing-card>
      <d-testing-card [testingName]="'Revisar el botón de facturación'" [projectName]="'Proyecto 1'"
        [isTestingSuccess]="false" [imgTesting]="'./../../../../../assets/img/proyects/Layer.png'"
        [testingDate]="'Hoy 09:10'"></d-testing-card>
        <d-testing-card [testingName]="'Revisar el botón de facturación'" [projectName]="'Proyecto 1'"
        [isTestingSuccess]="false" [imgTesting]="'./../../../../../assets/img/proyects/Layer.png'"
        [testingDate]="'Hoy 09:10'"></d-testing-card>
      <d-testing-card [testingName]="'Revisar el botón de facturación'" [projectName]="'Proyecto 1'"
        [isTestingSuccess]="false" [imgTesting]="'./../../../../../assets/img/proyects/Layer.png'"
        [testingDate]="'Hoy 09:10'"></d-testing-card>
    </div>
    <rbit-basic-button style="
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    display: flex;
    font-size: 10px;
    " 
    [withOutBackground]="true" [bgColor]="'red'"> Ver todas</rbit-basic-button>
  </gridster-item>
  <gridster-item [item]="gridsterItem5">
    <div style="flex-direction: row; display: flex; justify-content: space-between;">
      <rbit-d-title-card-header [cardTitle]="'Actividad'">
      </rbit-d-title-card-header>
      <div style="display: flex; flex-direction: row;">
        <rbit-basic-button [bgColor]="'red'" (click)="buttonGrid = !buttonGrid" [withOutBackground]="buttonGrid" 
        style="padding: 1rem;">Semana</rbit-basic-button>
        <rbit-basic-button [bgColor]="'red'" (click)="buttonGrid = !buttonGrid" [withOutBackground]="!buttonGrid"
        style="padding: 1rem;">Mes</rbit-basic-button>
      </div>
    </div>
    <div id="chartPerformance"></div>
  </gridster-item>
</gridster>