@import "../../../../theme/styles/styles";

#prueba2 {
  width: 100%;
  height: 80%;
}
#chartPerformance{
  width: 100%;
  height: 80%;
}
@include themify(){
  .toolbar {
    height: 100px;
    display: flex;
  }
  gridster {
    display: flex;
    height: calc(100vh - 146px);
    flex-direction: column;
  }
  gridster.mobileMode {
    height: 300vh;
  }
  gridster {
    background: themed(dashboard-gridster-bg);
  }
  gridster-item {
    border-radius: 3px;
    background: themed('background');
  }

  // Title cards
  .title-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 28px;

    .title-card-text {
      span {
        font-size: 1.25rem;
        text-transform: capitalize;
        font-weight: 700;
      }
    }
    .title-card-icon {
      cursor: pointer;
    }
  }

  // Project an testing list
  .projects-wrapper, .testing-wrapper {
    width: 100%;
    height: calc(100% - 77px);
    padding: 0 28px;
    overflow-y: auto;
  }
  .testing-wrapper-custom {
    width: 100%;
    height: calc(100% - 25%);
    padding: 0 28px;
    overflow-y: auto;
  }
  .projects-wrapper::-webkit-scrollbar,
  .testing-wrapper-custom::-webkit-scrollbar,
  .testing-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f500;
  }
  .projects-wrapper::-webkit-scrollbar-thumb,
  .testing-wrapper-custom::-webkit-scrollbar-thumb,
  .testing-wrapper::-webkit-scrollbar-thumb {
    background-color: #DBDBDB;
    border-radius: 3px;
  }

}
