<!-- <div class="row row-without-margin">
  <div class="roasbit-login-section-left animated fadeInLeft">
    <div class="roasbit-login-section-left-container animated fadeIn">
      <h2 class="roasbit-login-section-title">LOREM IPSUM</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img class="roasbit-login-section-left-img" src="../../../../../assets/img/login/ilustration.png" />

        <div *ngIf="showTriangle1" class="triangle animated fadeInUp"></div>
        <div *ngIf="showTriangle2" class="triangle-2 animated fadeInLeft"></div>
        <div *ngIf="showTriangle3" class="triangle-3 animated fadeInDown"></div>
        <div *ngIf="showTriangle4" class="triangle-4 animated fadeInDown"></div>

    </div>
  </div> -->
<!-- _ -->
<!-- <div class="roasbit-login-section-right animated fadeInRight">
  <div class="login-form-content">
    <div class="login-aligner-wrapper">
      <img class="roasbit-login-section-logo" src="../../../../../assets/img/login/logo.png" />
      <h1 class="login-welcome-title">¡BIENVENIDO!</h1>

      <rbit-simple-input [aPlaceholder]="'Correo electrónico'"></rbit-simple-input>
      <div class="login-input-space-between"></div>
      <rbit-simple-input [aPlaceholder]="'Contraseña'"></rbit-simple-input>

      <div class="row login-resolve-text-space">
        <div class="col-md-6 login-resolve-text-left-text">
          <span class="login-resolve-text">
            Recordar cuenta
          </span>
        </div>
        <div class="col-md-6 login-resolve-text-right-text">
          <span class="login-resolve-text">
            ¿Olvidaste tu contraseña?
          </span>
        </div>
      </div>

      <rbit-basic-button [routerLink]="'/pages/dashboard'">
        Iniciar sesión
      </rbit-basic-button>

      <div class="login-button-space-between">
        <span class="login-question-text">¿No tienes cuenta? </span><span class="login-register-text">Regístrate</span>
      </div>
    </div>
  </div>
</div>
</div> -->
<!-- <div  class="triangle animated fadeInUp"></div> -->
<svg *ngIf="showTriangle1" height="200" width="200" class="triangle animated fadeInUp">
  <!-- <polygon points="100, 0 200, 200 0, 200" style="stroke: #da9319; stroke-width: 2; fill: #ffffff00;"/> -->
  <polygon points="150, 0 200, 200 0, 200" style="stroke: #da9319; stroke-width: 3; fill: #ffffff00;"/>
</svg>
<!-- <div *ngIf="showTriangle2" class="triangle-2 animated fadeInLeft"></div> -->
<svg *ngIf="showTriangle2" height="200" width="200" class="triangle-2 animated fadeInLeft">
  <polygon points="150, 0 200, 200 0, 150" style="stroke: #c44f80; stroke-width: 3; fill: #ffffff00;"/>
</svg>
<div *ngIf="showTriangle3" class="triangle-3 animated fadeInDown"></div>
<div *ngIf="showTriangle4" class="triangle-4 animated fadeInDown"></div>
<svg *ngIf="showTriangle5" class="triangle-bottom-start animated fadeInUp"
     height="400" width="400">
  <polygon  points="300, 0 400, 400 0, 300"
            style="stroke: #E62F30; stroke-width: 3; fill: #E62F30;"></polygon>
</svg>
<svg *ngIf="showTriangle6" class="triangle-bottom-end animated fadeInRight"
     height="200" width="200">
  <polygon  points="63 132,146 21,5 6"
            style="stroke: #A70544; stroke-width: 3; fill: #ffffff00;"></polygon>
</svg>

<svg *ngIf="showTriangle7" class="triangle-middle-end  animated fadeInRight"
     height="200" width="200">
  <polygon  points="58 119,141 8,6 26"
            style="stroke: #AB195E; stroke-width: 3; fill: #AB195E;"></polygon>
</svg>

<div class="login-container">
  <div class="card-login-container">
    <img src="/assets/img/login/logo.svg" alt="logo">

    <div class="slogan-section">
      Hacemos fácil testear tu proyecto,
      sube tus pruebas y nos encargamos.
    </div>
    <div class="slogan-lines-section">
      <div class="line-1"></div>
      <div class="line-2"></div>
    </div>

    <rbit-simple-input [aPlaceholder]="'Correo electrónico'" [colorOnFocus]="'red'"></rbit-simple-input>
    <div class="login-input-space-between"></div>
    <rbit-simple-input [aPlaceholder]="'Contraseña'" [colorOnFocus]="'red'"></rbit-simple-input>

    <div class="d-flex justify-content-space-between direction-row recover-section">
      <div class="login-resolve-text-left-text">
        <span class="login-resolve-text">
          Recordar cuenta
        </span>
      </div>
      <div class="login-resolve-text-right-text red">
        <span class="login-resolve-text red">
          ¿Olvidaste tu contraseña?
        </span>
      </div>
    </div>

    <rbit-basic-button [routerLink]="'/pages/dashboard/client'" [bgColor]="'red'">
      Iniciar sesión
    </rbit-basic-button>

    <div class="login-button-space-between">
      <span class="login-question-text">¿No tienes cuenta? </span><span class="login-register-text">Regístrate</span>
    </div>
  </div>
</div>
