@import "../../../../theme/styles/styles";

@include themify() {
  // REmove margin
  // .row-without-margin {
  //   margin-left: 0;
  //   margin-right: 0;
  // }

  // Center vertical and cover all height
  // .login-form-content {
  //   height: calc(100vh - 0px);
  //   position: relative;
  //   background: themed(login-background);
  // }
  // .login-aligner-wrapper {
  //   width: 60%;
  //   padding: 0;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }

  // .roasbit-login-section-left {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  //   width: 48%;
  //   z-index: 1000;
  // }

  // .roasbit-login-section-left-container {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  //   width: 60%;
  //   text-align: center;
  //   padding-bottom: 25px;
  // }

  // .roasbit-login-section-left-container p {
  //   padding: 18px 0 42px 0;
  //   font-size: 14px;
  //   margin: 0;
  //   line-height: 2;
  // }

  // .roasbit-login-section-title {
  //   font-size: 25px;
  //   color: themed(button-primary-color);
  //   font-weight: bold;
  // }

  // .roasbit-login-section-left-img {
  //   width: 175px;
  // }

  // .roasbit-login-section-logo {
  //   width: 190px;
  //   padding-left: 12px;
  // }

  // .roasbit-login-section-right {
  //   width: 52%;
  // }

  .triangle {
    transition:  all 0.2s;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 45%;
    bottom: 0;
    z-index: 10;
  }

  .triangle-2 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: -10%;
    top: 10%;
    z-index: 10;
    transform: rotate(13deg);
  }

  .triangle-3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 40px 0 150px;
    border-color: #a70543 transparent transparent transparent;
    position: absolute;
    left: 20%;
    top: 0;
    z-index: 10;
  }

  .triangle-4 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 40px 0 130px;
    border-color: #E8397A transparent transparent transparent;
    position: absolute;
    right: 5%;
    top: 0;
    z-index: 10;
  }

  .triangle-5 {
    width: 137px;
    height: 137px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 4px solid #e74c3c;
    border-bottom: 4px solid #e74c3c;
  }

  // .login-welcome-title {
  //   color: themed(white-color);
  //   font-size: themed(title-1);
  //   font-weight: 700;
  //   text-transform: uppercase;
  //   margin-bottom: 64px;
  //   margin-top: 10px;
  // }

  // .login-input-space-between {
  //   height: 63px;
  // }

  .login-resolve-text-space {
    margin-top: 0;
    margin-bottom: 123px;
  }
  .login-resolve-text-left-text {
    text-align: left;
  }
  .login-resolve-text-right-text {
    text-align: right;
  }
  .login-resolve-text {
    font-size: 0.9375rem;
    color: themed(text-login-input);
    cursor: pointer;
    &.red {color: themed(login-register-text);}
  }

  .login-button-space-between {
    margin-top: 20px;
  }

  .login-question-text {
    color: themed(text-login-input);
  }
  .login-register-text {
    color: themed(login-register-text);
    cursor: pointer;
    font-weight: bold;
  }
}

// Newest
@include themify() {
  .login-container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slogan-section {
    width: 263px;
    margin-top: 52px;
  }

  .slogan-lines-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 54px;

    .line-1 {
      width: 68px;
      height: 4px;
      background-color: themed(login-slogan-line-1);
      margin-right: 5px;
    }
    .line-2 {
      width: 68px;
      height: 4px;
      background-color: themed(login-slogan-line-2);
    }
  }

  .login-input-space-between {
    height: 54px;
  }

  .recover-section {
    width: 100%;
    margin-bottom: 62px;
  }

  .triangle-bottom-start {
    bottom: -157px;
    left: -217px;
    position: absolute;
  }
  .triangle-bottom-end {
    bottom: -163px;
    right: -148px;
    position: absolute;
  }
  .triangle-middle-end {
    bottom: 163px;
    right: -142px;
    position: absolute;
  }

  .card-login-container {
    width: 503px;
    z-index: 11;
    height: 598px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px #0000001C;
    padding: 28px 51px;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 229px;
      height: auto;
    }

    rbit-simple-input {
      width: 100%;
    }
    rbit-basic-button {
      width: 100%;
    }
  }

  .lady-1 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 5%;
    bottom: 55px;
    z-index: 10;
  }
}
