<gridster [options]="options" [ngClass]="{'mobileMode': isOnMobileMode}" class="animated fadeIn">
  <gridster-item [item]="gridsterItem1">
    <d-analysis-indicator [backgroundColor]="'red'"
                          [fontIcon]="'e909'"
                          [text]="'Pruebas'"
                          [number]="372"
                          [hasProgressBar]="true"
                          [percentageProgressBar]="25"></d-analysis-indicator>
  </gridster-item>
  <gridster-item [item]="gridsterItem2">
    <d-analysis-indicator [text]="'Ejecutadas'"
                          [fontIcon]="'e908'"
                          [colorIcon]="'yellow'"
                          [number]="215" [secondaryNumber]="372"></d-analysis-indicator>
  </gridster-item>
  <gridster-item [item]="gridsterItem3">
    <d-analysis-indicator [text]="'Sin ejecutar'"
                          [fontIcon]="'e905'"
                          [colorIcon]="'gray'"
                          [number]="157" [secondaryNumber]="373"></d-analysis-indicator>
  </gridster-item>
  <gridster-item [item]="gridsterItem4">
    <d-analysis-indicator [text]="'Exitosas'"
                          [fontIcon]="'e906'"
                          [colorIcon]="'green'"
                          [number]="187" [secondaryNumber]="215"></d-analysis-indicator>
  </gridster-item>
  <gridster-item [item]="gridsterItem5">
    <d-analysis-indicator [text]="'No exitosas'"
                          [fontIcon]="'e907'"
                          [colorIcon]="'red'"
                          [number]="46" [secondaryNumber]="215"></d-analysis-indicator>
  </gridster-item>
  <gridster-item [item]="gridsterItem6">
    <div class="title-card">
      <div class="title-card-text">
        <span>Proyectos</span>
      </div>
      <div class="title-card-icon">
        <i class="rosbit-i rb-e912"></i>
      </div>
    </div>

    <div class="projects-wrapper">
      <d-project-card [projectName]="'#Proyecto 1'"
                      [projectVersion]="'1.0.0'"
                      [projectTestCount]="13"
                      [projectGoal]="'Página web'"
                      [imgSource]="'../../../../../assets/img/proyects/Layer.png'"
                      [projectPercentage]="20"
                      [projectSuccessPercentage]="10"></d-project-card>

      <d-project-card [projectName]="'#Proyecto 2'"
                      [projectVersion]="'1.0.0'"
                      [projectTestCount]="80"
                      [projectGoal]="'Página web'"
                      [imgSource]="'../../../../../assets/img/proyects/Layer7.png'"
                      [projectPercentage]="20"
                      [projectSuccessPercentage]="80"></d-project-card>

      <d-project-card [projectName]="'#Proyecto 3'"
                      [projectVersion]="'1.0.0'"
                      [projectTestCount]="40"
                      [projectGoal]="'Página web'"
                      [imgSource]="'../../../../../assets/img/proyects/Layer.png'"
                      [projectPercentage]="10"
                      [projectSuccessPercentage]="30"></d-project-card>

      <d-project-card [projectName]="'#Proyecto 4'"
                      [projectVersion]="'1.0.0'"
                      [projectTestCount]="1"
                      [projectGoal]="'Página web'"
                      [imgSource]="'../../../../../assets/img/proyects/Layer7.png'"
                      [projectPercentage]="33"
                      [projectSuccessPercentage]="20"></d-project-card>

      <d-project-card [projectName]="'#Proyecto 5'"
                      [projectVersion]="'1.0.0'"
                      [projectTestCount]="1"
                      [projectGoal]="'Página web'"
                      [imgSource]="'../../../../../assets/img/proyects/Layer.png'"
                      [projectPercentage]="20"
                      [projectSuccessPercentage]="10"></d-project-card>

    </div>
  </gridster-item>
  <gridster-item [item]="gridsterItem7">
    <div class="title-card">
      <div class="title-card-text">
        <span>Pruebas</span>
      </div>
      <div class="title-card-icon">
        <i class="rosbit-i rb-e912"></i>
      </div>
    </div>
    <div class="testing-wrapper" [style.padding.px]="0">
      <d-testing-card [testingName]="'Dashboard'"
                      [projectName]="'Proyecto 1'"
                      [tag]="'#E07676'"
                      [isTestingSuccess]="true"
                      [status]="'Aprobada'"
                      [testingDescription]="'Dashboard - Proyecto 2 Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor Erubiel Recoba'"
                      [testingAuthor]="'Erubiel Recoba'"
                      [testingDate]="'5 minutos'"></d-testing-card>

      <d-testing-card [testingName]="'Calendario'"
                      [projectName]="'Proyecto 2'"
                      [tag]="'#4E9DC4'"
                      [status]="'Aprobada'"
                      [isTestingSuccess]="true"
                      [testingDescription]="'Dashboard - Proyecto 2 Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor Erubiel Recoba'"
                      [testingAuthor]="'Sareth Contreras'"
                      [testingDate]="'5 minutos'"></d-testing-card>

      <d-testing-card [testingName]="'Dashboard'"
                      [projectName]="'Proyecto 3'"
                      [isTestingSuccess]="true"
                      [status]="'Cancelada'"
                      [testingDescription]="'Dashboard - Proyecto 2 Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor Erubiel Recoba'"
                      [testingAuthor]="'Iris de la rosa'"
                      [testingDate]="'5 minutos'"></d-testing-card>

      <d-testing-card [testingName]="'Calendario'"
                      [projectName]="'Proyecto 4'"
                      [tag]="'#AAAAAA'"
                      [status]="'Aprobada'"
                      [isTestingSuccess]="false"
                      [testingDescription]="'Dashboard - Proyecto 2 Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor Erubiel Recoba'"
                      [testingAuthor]="'Pedro Panfilo'"
                      [testingDate]="'5 minutos'"></d-testing-card>
    </div>
  </gridster-item>

  <gridster-item [item]="gridsterItem8">
    <div class="title-card title-performance d-flex direction-column align-items-start">
      <div class="title-card-text">
        <span>Rendimiento</span>
      </div>
      <div class="controls-performance-container">
        <div class="standard-input-grid-style">
          {{'5 Seleccionados'}}
          <i class="rosbit-i rb-e90e"></i>
        </div>
        <div class="second-container-performance">
          <div class="week">{{'Semana'}}</div>
          <div class="month">{{'Mes'}}</div>
        </div>
      </div>
      <div class="chips-performance-wrapper">
        <div class="main-chip-performance" *ngFor="let item of chipsFilterPerformance" [style.backgroundColor]="item.color">
            {{item.name}}
          <i class="rosbit-i rb-e913"></i>
        </div>
      </div>
      <!--<div class="title-card-icon">-->
        <!--<i class="rosbit-i rb-e904"></i>-->
      <!--</div>-->
      <div id="chartPerformance">
      </div>
    </div>
  </gridster-item>
  <gridster-item [item]="gridsterItem9">
    <div style="display: flex; width: 100%; height: 100%; flex-direction: row;">
      <div class="title-card-2 title-card-special"  style="width: 100%;">
        <div class="title-card-text">
          <span>Sube proyectos ilimitados</span>
        </div>
        <div class="card-description-tryout">
          <span>Prueba gratis la versión</span>&nbsp;<span class="bold">PRO</span>&nbsp;<span>ahora</span>
        </div>
        <div class="try-btn">
          {{'Probar'}}
        </div>
        
      </div>
      <img style="display: flex; width: 50%;" src="../../../../../assets/img/proyects/background.png" alt="img">
    </div>
  </gridster-item>
</gridster>
      <!-- <img class="try-image" src="../../../../../assets/img/proyects/try_icon.png"> -->
      <!--<div class="title-card-icon">-->
        <!--<i class="rosbit-i rb-e904"></i>-->
      <!--</div>-->