@font-face {
  font-family: 'RosbitIcon';
  src: url('/assets/fonts/rosbit-icon.eot?5n2rpb');
  src: url('/assets/fonts/rosbit-icon.eot?5n2rpb#iefix') format('embedded-opentype'),
  url('/assets/fonts/rosbit-icon.woff2?5n2rpb') format('woff'),
  url('/assets/fonts/rosbit-icon.ttf?5n2rpb') format('truetype'),
  url('/assets/fonts/rosbit-icon.woff?5n2rpb') format('woff'),
  url('/assets/fonts/rosbit-icon.svg?5n2rpb#rosbit-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.rosbit-i {
  display: inline-block;
  font-family: "RosbitIcon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // --------------
  // Icons sizes
  // --------------
  &.rb-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
  }
  &.rb-1x {
    font-size: 1.1em;
  }
  &.rb-2x {
    font-size: 2em;
  }
  &.rb-3x {
    font-size: 3em;
  }
  &.rb-4x {
    font-size: 4em;
  }
  &.rb-5x {
    font-size: 5em;
  }
  &.rb-fw {
    width: 1.28571429em;
    text-align: center;
  }

  // -------------
  // Icons classes
  // -------------
  @function dec-to-hex($d) {
    $hexVals: "a" "b" "c" "d" "e" "f";
    $base: 16;
    $quotient: $d;
    $result: "";
    @if $d == 0 {
      $result: "00";
    }
    @while $quotient != 0 {
      $mod: $quotient % $base;
      $quotient: floor($quotient / $base);
      @if $mod > 9 {
        $mod: nth($hexVals, $mod - 9);
      }
      @if $d < $base {
        $result: "0" + $mod;
      } @else {
        $result: $mod + $result;
      }
    }
    @return $result;
  }

  // hex e900 its dec is 59648
  $iconFrom: 59648;// do not touch

  // Developer: if there are more icons just increment
  // this variable.
  $currentFontIcons: 60; // currently there are 60 icons
  $iconThrough: $iconFrom + $currentFontIcons;

  @for $i from $iconFrom through $iconThrough {
    $tmpHex: dec-to-hex($i);
    $currentContent: unquote("\"\\#{$tmpHex}\"");

    &.rb-#{$tmpHex}:before {content: $currentContent;}
  }
}
