@import "_theme.scss";
@import "layout";
@import "animate";

/*
 * Implementation of themes
 * Use themify(true) if you're using Non-encapsulated components
 * Use themify (false) if you're using regular encapsulated components
 */
 @mixin themify($encapsulated : false) {
  @each $theme, $map in $themes {

    @if $encapsulated == false {
      .theme-#{$theme} :host {

        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }

        @content;
        $theme-map: null !global;
      }
    } @else {
    .theme-#{$theme} {

      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
      }
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@include themify() {

  .custom-modal-form-container {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(black, 0.6);
      top: 0;
      left: 0;
      z-index: 999;
      .modal-body {
        padding: 10px 40px;
      }

      .tab-container {
        position: relative;
        .tab-item {
          cursor: pointer;
          height: 16px;
          position: relative;
          padding-right: 40px;
          opacity: 0.5;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          &.active {
            opacity: 1;
          }
          &.active:hover {
            opacity: 1;
          }
          &.active::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0px;
            width: calc(100% - 40px);
            height: 4px;
            border-radius: 6px;

          }
        }
        .tab-item:hover{
          opacity: 0.7;
        }

      }
      .tab-content {
        .column-item {
          flex-direction: column;
          .input-title {
            padding-bottom: 10px;
          }
        }
        .column-item:first-child{
          padding-right: 40px;
          padding-left: 0px !important;

        }
        .column-item:last-child{
          padding-left: 40px;
        }
      }
      .modal-header {
        padding: 40px 40px 10px 40px;
        color: themed(mainText);
        .text-header {
          font-weight: 500;
          font-size: 16px;
        }
      }
      .modal-content {
        position: relative;
        width: 744px;
        height: 505px;
        box-shadow: 5px 5px 11px rgba(black, 0.3);
        //border-radius: 12px;
        opacity: 1;
        animation-duration: 0.6s;
        background-color: themed(background);
        color: themed(regularText);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .modal-close-icon {
          position: absolute;
          right: 15px;
          top: 13px;
          cursor: pointer;
          .close-icon {
            opacity: 0.7;
            cursor: pointer;
            height: 13px;
          }
          .close-icon:hover {
            opacity: 1;
          }
        }
      }
      .modal-content-vertical {
        position: relative;
        height: calc(100vh - 344px);
        min-height: 550px;
        width: 30vw;
        min-width: 440px;
        box-shadow: 5px 5px 11px rgba(black, 0.3);
        //border-radius: 12px;
        opacity: 1;
        animation-duration: 0.6s;
        background-color: themed(background);
        color: themed(regularText);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .modal-close-icon {
          position: absolute;
          right: 40px;
          top: 40px;
          cursor: pointer;
          .close-icon {
            opacity: 0.7;
            cursor: pointer;
            height: 13px;
          }
          .close-icon:hover {
            opacity: 1;
          }
        }
      }
      .buttons-footer {
        .button-form {
          cursor: pointer;
          color: white;
          outline: none;
          height: 35px;
          border-radius: 18px;
          border: none;
          padding: 0px 40px;
        }

      }
      .modal-footer{
        padding: 10px 40px 40px 40px;
        display: flex;
      }
    }

  /* Customize the container */
  .roasbit-check-button {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .roasbit-check-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .roasbit-check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid themed(input-underline-color);
    border-radius: 3px;
  }

  .roasbit-check-button:hover input ~ .roasbit-check-mark {
    background-color: #fff;
  }

  .roasbit-check-button input:checked ~ .roasbit-check-mark {
    background-color: themed(button-primary-color);
    border: 0px solid themed(button-primary-color);
    border-radius: 3px;
    height: 14px;
    width: 14px;
  }

  .roasbit-check-mark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .roasbit-check-button input:checked ~ .roasbit-check-mark:after {
    display: block;
  }

  .roasbit-check-button .roasbit-check-mark:after {
    left: 4px;
    top: 0px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /*
    .roasbit-check-button {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 15px 0 0;
  }
  .roasbit-check-mark {
    font-family: "RosbitIcon" !important;
  }
  
  .roasbit-check-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .roasbit-check-button input:checked ~ .roasbit-check-mark:after {
    display: block;
    content: "\e910";
    color: themed(button-primary-color);
  }

  .roasbit-check-button .roasbit-check-mark:after {
    content: "\e913";
    color: themed(input-underline-color);
  }
  */
}


