<div class="new-project-container main-container animated fadeInDown">
    <!-- Back and close -->
    <div class="header-back-close">
        <i class="rosbit-i rb-e913" (click)="cancel()"></i>
    </div>

    <!-- Slider progress -->
    <div class="slider-content" *ngIf="isOnForm">
        <div class="slider-project"></div>
    </div>

    <div class="title-project-content"  *ngIf="currentStep == 1">
        <div class="title">
            Crear un nuevo proyecto
        </div>
        <div class="subtitle">
            Tu proyecto es...
        </div>
    </div>

  <div class="title-project-content"  *ngIf="currentStep == 2">
        <div class="title">
            Información de tu proyecto
        </div>
        <div class="subtitle animated fadeInUp">
          Completa la información para conocer más acerca de tu proyecto
        </div>
    </div>

    <div class="form-new-project" *ngIf="currentStep == 1">
      <div class="app-type-container">
        <div *ngFor="let item of projectTypes" class="app-type" [ngClass]="{'active': item.active}" (click)="markAsActive(item); nextStepTimer()">
          <div class="circle" [ngClass]="{'active': item.active}"></div>
          <i class="rosbit-i rb-e93a check-proyect" [ngClass]="{'active': item.active}"></i>
          <i class="rosbit-i rb-e909 project-icon"></i>
          <div class="caption">{{item.name}}</div>
        </div>
      </div>
    </div>

  <div class="form-new-project additional-space animated fadeInRight" *ngIf="currentStep == 2">
    <div class="first-column-new-project w-50">
      <div class="standard-new-project-style">
        <input type="text" placeholder="Nombre"/>
      </div>
      <div class="input-description">{{'Deberá ir todo en minúsculas, sin espacios y máximo 22 caracteres.'}}</div>
      <div class="standard-new-project-style custom-input-area">
        <div class="d-flex editableInput" [contentEditable]="true"></div>
      </div>
      <div class="input-description">{{'Máximo 100 caracteres.'}}</div>
      <br>
      <div class="standard-new-project-style">
        <input type="text" placeholder="Invitar"/>
      </div>
      <div class="input-description">{{'Selecciona a las personas que quieres añadir al proyecto.'}}</div>
    </div>
    <div class="second-column-new-project w-50">
      <div class="standard-new-project-style">
        <input type="text" placeholder="Vencimiento"/>
      </div>
    </div>
  </div>

    <div class="button-section-container">

        <rbit-basic-button [isOutline]="true" (click)="cancel()">
            Cancelar
        </rbit-basic-button>
      <rbit-basic-button [isOutline]="true" *ngIf="currentStep > 1"  (click)="backStep()">
            Volver
        </rbit-basic-button>
        <rbit-basic-button *ngIf="currentStep > 1" (click)="nextStep()">
           {{currentStep == 1 ? 'Siguiente' : 'Crear proyecto'}}
        </rbit-basic-button>
    </div>

</div>

<div class="project-create-container animated fadeInUp" *ngIf="!isOnForm">
  <div class="main-container-new w-100-vw h-100-vh" >
    <svg class="triangle-top-middle animated fadeInLeft"
         height="200" width="200">
      <polygon  points="150, 0 200, 200 0, 150"
                style="stroke: #DA9219; stroke-width: 3; fill: #ffffff00;"></polygon>
    </svg>

    <svg class="triangle-top-start animated fadeInLeft"
         height="200" width="200">
      <polygon  points="150, 0 200, 200 0, 150"
                style="stroke: #E8397A; stroke-width: 3; fill: #ffffff00;"></polygon>
    </svg>
    <svg class="triangle-top-end animated fadeInLeft"
         height="200" width="200">
      <polygon  points="20 135,158 16,55 11,-1 8"
                style="stroke: #E8397A; stroke-width: 3; fill: #E8397A;"></polygon>
    </svg>
    <svg class="triangle-bottom-start animated fadeInLeft"
         height="400" width="400">
      <polygon  points="300, 0 400, 400 0, 300"
                style="stroke: #E62F30; stroke-width: 3; fill: #E62F30;"></polygon>
    </svg>
    <svg class="triangle-bottom-middle animated fadeInLeft"
         height="200" width="200">
      <polygon  points="120 135,148 29,15 66"
                style="stroke: #E8397A; stroke-width: 3; fill: #E8397A;"></polygon>
    </svg>

    <svg class="triangle-bottom-end animated fadeInLeft"
         height="200" width="200">
      <polygon  points="63 132,146 21,5 6"
                style="stroke: #A70544; stroke-width: 3; fill: #ffffff00;"></polygon>
    </svg>

    <svg class="triangle-middle-end  animated fadeInLeft"
         height="200" width="200">
      <polygon  points="58 119,141 8,6 26"
                style="stroke: #AB195E; stroke-width: 3; fill: #AB195E;"></polygon>
    </svg>

    <div class="section-done-proyect">
      <div class="title">
        ¡Se ha creado un nuevo proyecto!
      </div>
      <div class="subtitle" style="margin-bottom: 12px;">
        Podrás monitorear cada paso, ver el avance semanal y mensual, tambien podrás compararlo con otros proyectos.
      </div>
      <div class="proof-confirm">
        <div class="start-message">{{'¿Deseas empezar a subir pruebas?'}}</div>
        <rbit-basic-button (click)="createTest()" style="width: 100%; margin-bottom: 140px;">
          Crear pruebas
        </rbit-basic-button>
      </div>

      <div class="come-back-to-home" style="text-decoration: underline;font-weight: bold; width: 100%; text-align: left; cursor: pointer;padding-top: 90px;" (click)="cancel()">Volver al inicio</div>
    </div>
  </div>
</div>
