@import "../../../../theme/styles/styles";

$sliderHandler1Color: #DA9219;
$sliderHandler2Color: #EAD3AC;

@include themify(true) {
    .new-project-container {
        position: fixed;
        width: 100%;
        height: 100%;

        background-color: themed(backgroundLayout);
        z-index: 100;
        top: 0;
        left: 0;


    }
    .header-back-close {
        display: flex;
        flex: 1;
        font-size: 30px;
        flex-direction: row;
        justify-content: flex-end;
        cursor: pointer;
        &.has-back {
            justify-content: space-between;
        }
    }

    .slider-content {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;

        margin-top: 48px;

        .slider-project {
            width: 35%;
           box-shadow: none !important;
          height: 2px;
            background: rgba(themed(primary-color), 0.5);// change to theme color
            border: 0px solid themed(backgroundLayout);

            .noUi-connect {
                background: themed(primary-color);
            }




            .noUi-handle {
                border: 1px solid themed(backgroundLayout);
                border-radius: 50%;
                box-shadow: unset;
            }

            // First node
            .noUi-handle.noUi-handle-lower {
                width: 17px;
                height: 17px;
                background-color: themed(primary-color);

                &:before {
                    height: 7px;
                    width: 7px;
                    background: themed(background);
                    left: 4px;
                    top: 4px;
                    border-radius: 50%;
                }
                &:after {
                    width: 0;
                    height: 0;
                }
            }

            // Second node
            .noUi-handle.noUi-handle-upper {
                width: 17px;
                height: 17px;

                background-color: rgba(themed(primary-color), 0.6);

                &:before, &:after {
                    height: 0;
                    width: 0;
                }
            }
        }

    }

    .title-project-content {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: left;

        margin-top: 67px;

        color: themed(mainText);

        .title {
            font-size: 30px;
            width: 100%;
            text-align: left;
            font-weight: bold;
        }

        .subtitle {
            font-size: 14px;
            width: 100%;
            text-align: left;
        }

    }
  .proof-confirm {
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    .start-message {
      padding-bottom: 30px;
    }
  }
      .standard-new-project-style {
        border-radius: 3px;
        background-color: themed(background);
        border: 1px solid themed(border-dashlet);
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        color: themed(d-analysis-text);
        input {
          outline: none;
          width: 100%;
          color: themed(mainText);
          border: none;
          background: none;
        }
        .editableInput {
          color: themed(mainText);
          margin-top: 20px;
          width: 100%;
          height: 100%;
          outline: none;
        }
      }

    .additional-space {
      display: flex;
      padding-top: 30px;
      flex-direction: row !important;
    }
  .first-column-new-project {
    padding-right: 30px;
  }
  .second-column-new-project {
    padding-left: 30px;
  }
  .input-description {
    padding-top: 10px;
    font-size: 12px;
    color: themed(simple-text)
  }
  .custom-input-area {
    height: 150px;
    margin-top: 22px;
  }
    .form-new-project {
        background-color: themed(backgroundLayout);
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: column;
        justify-content: left;

        .middle-input {
            width: 50%;
        }
        .middle-middle-input {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: left;

            width: 100%;

            rbit-simple-input:nth-child(1) {
                width: 50%;
                margin-right: 15px;
            }
            rbit-simple-input:nth-child(2) {
                width: 25%;
            }
        }

      .app-type-container {
        margin-top: 44px;
        display: flex;
        .app-type {
          position: relative;
          transition: all 0.2s;
          display: flex;
          flex-direction: column;
          border-radius: 5px;
          margin-right: 20px;
          align-items: center;
          justify-content: center;
          width: 175px;
          height: 130px;
          border: 2px solid transparent;
          cursor: pointer;
          background-color: themed(background);
          .caption {
            padding-top: 20px;
            font-size: 12px;
          }

          .project-icon {
            font-size: 40px !important;
          }

          &.active {
            font-weight: 500;
            color: themed(primary-color);
            border: 2px solid themed(primary-color) !important;
            box-shadow: 3px 3px 15px #4B40400F;
          }
        }

      }
    }

    .button-section-container {
        position: absolute;
        right: 194px;
        bottom: 60px;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;

        rbit-basic-button {
            min-width: 150px;
            margin-left: 15px;
        }
    }
  .main-container {
    padding: 44px 155px 60px 155px;
  }
    .project-create-container {
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: themed(backgroundLayout);
        z-index: 100;
        top: 0;
        left: 0;
        justify-content: center;

      .main-container-new {
        padding: 44px 155px 60px 155px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
      .triangle-top-middle {
        top: -151px;
        position: absolute;
      }
      .triangle-top-start {
        top: -137px;
        left: -107px;
        position: absolute;
      }
      .triangle-top-end {
        top: -57px;
        right: 77px;
        position: absolute;
      }
      .triangle-bottom-start {
        bottom: -157px;
        left: -217px;
        position: absolute;
      }
      .triangle-bottom-middle {
        bottom: -117px;
        position: absolute;
      }
      .triangle-bottom-end {
        bottom: -163px;
        right: -148px;
        position: absolute;
      }
      .triangle-middle-end {
        bottom: 163px;
        right: -142px;
        position: absolute;
      }
    }

    .section-done-proyect {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 480px;
        height: 100%;
        .come-back-to-home {
          color: themed(primary-color)
        }
        .title {
            font-size: 30px;
            width: 100%;
            text-align: left;
            font-weight: bold;
            padding-bottom: 30px;
        }

        .subtitle {
            font-size: 14px;
            width: 100%;
            text-align: left;
        }
    }
    .project-done-image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex: 3;
    }

    .project-done-image img {
      width: 80%;
    }

    .check-proyect {
      position: absolute;
      right: -15px;
      top: -15px;
      display: none;
      font-size: 30px !important;

      &.active {
        display: flex;
      }
    }

    .circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      right: -15px;
      top: -15px;
      display: none;
      background: themed('white-color');

      &.active {
        display: flex;
      }
    }
}
