// Official
$primary_color    : #C71442;
$secondary-color  : #C54338;
$base_color       : #2b2b2b;
$layout_bg        : #202020;

$red-1: #CC2D2D;
$red-2: #C71442;

$gray-1: #AAAAAA;
$gray-2: #707070;
$gray-3: #F2F2F2;
$gray-4: #C3C1C1;
$gray-5: #4B4040;
$gray-6: #E6E1E1;

// Unofficial
$tint_color       : #003192;
$font_color       : #c8c8c8;
$red_color        : #ed2020;
$border_color     : #353838;
$border_alt       : #353838;
$icons_color      : #c8c8c8;
$img_proyects     : #6AC2EE;


$dark :  (
  primary-color: $primary_color,
  secondary-color: $secondary-color,

  backgroundLayout: $layout_bg,
  background: $base_color,

  // Header
  header-bg: $layout_bg,

  // Dashboard
  dashboard-gridster-bg: $layout_bg,
  d-analysis-card-bg: $base_color,
  d-analysis-text: #F0F0F0,
  d-analysis-card-yellow-bg: $primary_color,
  d-analysis-card-red-bg: $red-2,
  d-analysis-card-secondary-number: $gray-4,

  // Project card
  project-card-app-title: #939393,

  // Text
  mainText: $font_color,
  regularText: $font_color,
  subtextColor:  $icons_color,
  title-1: 2.0625rem,
  simple-text: $gray-2,
  highlight-text: $secondary-color,

  // Buttons
  button-primary-color: $primary_color,
  button-secondary-color: $secondary-color,
  button-bg-red: $red-1,
  button-bg-red-2: $red-2,

  // Login
  login-welcome-title: $secondary-color,
  login-background: $login-background,
  text-login-input: $gray-2,
  login-register-text: $red-1,
  login-slogan-line-1: $red-1,
  login-slogan-line-2: $gray-6,

  // Inputs
  input-element: $primary_color,
  input-element-red: $red-1,
  input-field-label-focus: $primary_color,
  input-field-label-focus-red: $red-1,
  input-field-label: $gray-1,
  input-underline-color: $gray-1,
  input-underline-ripple: $primary_color,
  input-underline-ripple-red: $red-1,
  input-type-text-color: $white,

  border-dashlet: $border_color,
  p-background: #9393933b,
  p-success: #75BA75,
  p-error: #CE5F5F,
  p-warning: #DA9219,
  p-info: #6AC2EE,
  d-info: #6AC2EE,
  d-error: #D80303,
  d-warning:#EEC839,
  d-success:#018D1C,
  d-gray:#5F5F5F,

  tag-success: #05F23C,
  tag-error: #F20505,
  tag-warning: #FFBB05,
  tag-rejected: #726464,

  tag-lbl-success: #018D1C,
  tag-lbl-warning: #EDA500,
  tag-lbl-error: #D80303,
  tag-lbl-rejected: #5F5F5F,
  table-header-text: $font_color
)
