<div class="test-detail-project-container">
   <div class="single-project-main">
      <div class="breadcrumb-project">
         <div>{{'Proyectos'}}</div>
         <div>{{'/'}}</div>
         <div class="title">{{'Proyecto 1 Versión 2.3'}}</div>
      </div>
      <div class="versions-row">
         <div class="version-item">
            <div class="first-version-row">
               <div class="status-container-first-section">
                  <div class="status-container-single-project tag-warning">
                     En proceso
                  </div>
                  <div class="progress-bar-container">
                     <rbit-progress-bar [paddingTop]="7" [paddingBottom]="7" [projectWarningPercentage]="10">
                     </rbit-progress-bar>
                     <p>10%</p>
                  </div>
               </div>
               <div class="first-version-data-text">
                  <p class="first-version-data-title"><span>81291 -</span> Validar la selección de días y horas</p>
                  <p class="first-version-data-date">22/08/2019 13:30</p>
                  <small>Descripción</small>
                  <p class="first-version-data-description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                     sed do eiusmod tempor incididunt ut
                     labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                     nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                     esse cillum dolore eu fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in
                     culpa qui officia deserunt mollit anim id est laborum.</p>
               </div>
            </div>
            <div class="progress-content-version">
               <div class="last-update-row">Archivos adjuntos (2)</div>
               <div class="version-progress-detail">
                  <div class="doc-container zip-color">
                     <div class="icon-container zip-color-icon">
                        <i class="rosbit-i rb-e91b"></i>
                     </div>
                     <div class="doc-name-size">
                        <p>AplicaciónUp.zip</p>
                        <p>1,48 MB</p>
                     </div>
                  </div>
                  <div class="doc-container doc-color">
                     <div class="icon-container doc-color-icon">
                        <i class="rosbit-i rb-e91b"></i>
                     </div>
                     <div class="doc-name-size">
                        <p>Credenciales.doc</p>
                        <p>1,48 MB</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="projects-table-section">
         <div class="table-title-section">
            {{'Casos De Prueba (12)'}}
         </div>
         <div class="table-amount-section" (click)="createNewTest()">
            <div class="add-icon"><i class="rosbit-i rb-e90b"></i></div>
         </div>
         <div class="table-version-section">
            <div class="standard-input-style search-input-filter">
               <input type="text" [placeholder]="'Búsqueda'" />
               <div class="search-icon"><i class="rosbit-i rb-e904"></i></div>
            </div>
         </div>
      </div>
      <div *ngIf="showFormCreateNewTest" class="create-new-test">
         <div class="cancel-create-new-test" (click)="cancelNewTest()">
            <div class="add-icon"><i class="rosbit-i rb-e913"></i></div>
         </div>
         <div class="create-new-test-input-container">
            <label>Pasos <span>*</span></label>
            <div class="input-wrapper">
               <input type="text" />
            </div>
         </div>
         <div class="create-new-test-input-container">
            <label>Resultado esperado</label>
            <div class="input-wrapper">
               <input type="text" />
            </div>
         </div>
         <div class="create-new-test-input-container">
            <label>Prioridad</label>
            <div class="input-wrapper">
               <input type="text" />
            </div>
         </div>
         <div class="create-new-test-input-container">
            <label>Responsable</label>
            <div class="input-wrapper">
               <input type="text" />
            </div>
         </div>
         <div class="table-amount-section" (click)="cancelNewTest()">
            <div class="add-icon"><i class="rosbit-i rb-e90b"></i></div>
         </div>
      </div>
      <div class="table-container-section">
         <roastbit-table-component [dataSource]="dataSource" [columnDef]="columnDef"
            (rowClicked)="goTestDetail($event)"></roastbit-table-component>
      </div>
   </div>
   <div class="single-project-detail">
      <div class="overflow">
         <!-- Edition -->
         <div class="edition-wrapper">
            <rbit-icon-button [iconCode]="'e900'"></rbit-icon-button>
            <rbit-icon-button [iconCode]="'e903'"></rbit-icon-button>
         </div>
         <!-- Testers -->
         <div class="section-info-detail-wrapper">
            <div class="label">Testers</div>
            <div class="testers-integrants">
               <img src="../../../../../assets/img/proyects/Layer6.png">
               <img src="../../../../../assets/img/proyects/Layer2.png">
               <img src="../../../../../assets/img/proyects/Layer6.png">
               <img src="../../../../../assets/img/proyects/Layer2.png">
            </div>
         </div>
         <!-- Casos de prueba -->
         <div class="section-info-detail-wrapper">
            <div class="label">Casos de prueba</div>
            <div class="title">12</div>
         </div>
         <!-- Fecha de inicio -->
         <div class="section-info-detail-wrapper">
            <div class="label">Fecha de inicio</div>
            <div class="title">13/02/20 12:32</div>
         </div>
         <!-- Fecha de entrega -->
         <div class="section-info-detail-wrapper">
            <div class="label">Fecha de entrega</div>
            <div class="title">-</div>
         </div>
      </div>
   </div>
   <div [ngClass]="showMenu ? ['side-menu', 'expand'] : ['side-menu']">
      <div class="menu-wrapper">
         <!-- Header -->
         <div class="header-section">
            <div class="first-section">
               <div class="first-section-inner">
                  <div class="status-container-single-project tag-warning">
                     En proceso
                  </div>
                  <div class="first-section-buttons">
                     <rbit-icon-button [iconCode]="'e900'"></rbit-icon-button>
                     <rbit-icon-button [iconCode]="'e903'"></rbit-icon-button>
                  </div>
               </div>
               <div class="hide-menu" (click)="hideMenu()">
                  <i class="rosbit-i rb-e913"></i>
               </div>
            </div>
            <div class="header-title">
               <p>Entrar al login con las credenciales</p>
            </div>
            <div class="header-date">
               <p>22/08/2019 13:30</p>
            </div>
            <div class="header-results">
               <small>Resultado esperado</small>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim.</p>
            </div>
            <div class="header-results">
               <small>Tester</small>
               <p>22/08/2019 13:30</p>
            </div>
            <div class="header-attachment">
               <p>¡Adjunta o arrastra archivos aquí!</p>
               <i class="rosbit-i rb-e902"></i>
            </div>
            <div class="header-send-message">
               <div class="header-send-message-input">
                  <div class="header-send-message-image">
                     <img src="../../../../../assets/img/proyects/Layer6.png">
                  </div>
                  <div class="header-send-message-input-wrapper">
                     <input type="text" placeholder="Agregar comentario..." />
                  </div>
               </div>
               <div class="header-send-message-button">
                  <p>Enviar</p>
               </div>
            </div>
         </div>
         <!-- Header -->
         <!-- Content Scrolleable -->
         <div class="content-scroll-container">
            <div class="content-scroll-container-one">
               <div class="content-scroll-container-two-image">
                  <img src="../../../../../assets/img/proyects/Layer6.png">
               </div>
               <div>
                  <div class="data-comment">
                     <p>Damian Martinez</p>
                     <p>13/02/20 12:32</p>
                  </div>
                  <div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                  </div>
               </div>
            </div>
            <div class="content-scroll-container-two">
               <div class="content-scroll-container-two-image">
                  <img src="../../../../../assets/img/proyects/Layer6.png">
               </div>
               <div>
                  <div class="data-comment">
                     <p>Damian Martinez</p>
                     <p>13/02/20 12:32</p>
                  </div>
                  <div class="link">
                     <p>https://mail.google.com/mail/u/0/#inbox</p>
                  </div>
               </div>
            </div>
            <div class="content-scroll-container-three">
               <div class="content-scroll-container-two-image">
                  <img src="../../../../../assets/img/proyects/Layer6.png">
               </div>
               <div>
                  <div class="data-comment">
                     <p>Damian Martinez</p>
                     <p>13/02/20 12:32</p>
                  </div>
                  <div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                  </div>
               </div>
            </div>
            <div class="content-scroll-send-message">
               <div class="content-scroll-send-message-input">
                  <div class="content-scroll-send-message-image">
                     <img src="../../../../../assets/img/proyects/Layer6.png">
                  </div>
                  <div class="content-scroll-send-message-input-wrapper">
                     <input type="text" placeholder="Agregar comentario..." />
                  </div>
               </div>
               <div class="content-scroll-send-message-button">
                  <p>Enviar</p>
               </div>
            </div>
         </div>
         <!-- Content Scrolleable-->
      </div>
   </div>
</div>