@import "../../../../theme/styles/styles";

$labelText: #8C8989;
$plusIcon: #C71442;
$docZip: #C7144229;
$docWord: #007CDA29;

$docIconWord: #007CDA;
$docIconZip: #C71442;
$colorSizeFile: #787070;

@include themify(true) {
  $titleText: themed(mainText);
  rbit-test-detail-project {
    .test-detail-project-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
    }

    .single-project-main {
      padding-right: 40px;
      flex: 1;

      .breadcrumb-project {
        font-size: 11px;
        display: flex;

        div {
          padding-right: 10px;
        }

        .title {
          cursor: pointer;
          font-weight: 500;
        }
      }

      .versions-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;

        .version-item {
          transition: all 0.2s;
          width: 100%;
          height: 100%;
          padding: 25px 40px;
          background-color: themed(background);
          border-radius: 3px;
          font-size: 12px;
          border: 0.5px solid themed(border-dashlet);

          .last-update-row {
            color: themed(d-analysis-text);
            font-weight: 500;
            font-size: 10px;
          }

          .progress-content-version {
            padding-top: 10px;
            margin-top: 1rem;

            .version-progress-detail {
              display: flex;
              padding-top: 10px;

              .doc-container {
                display: flex;
                border-radius: 3px;
                margin-right: 11px;
                width: 176px;
                align-items: center;
                padding: 5px 10px;

                .icon-container {
                  display: flex;
                }

                .icon-container i {
                  font-size: 22px;
                }

                .zip-color-icon i {
                  color: $docIconZip;
                  font-weight: bold;
                }

                .doc-color-icon i {
                  color: $docIconWord;
                  font-weight: bold;
                }

                .doc-name-size {
                  padding-left: 10px;
                }

                .doc-name-size p {
                  margin: 0;
                  font-size: 10px;
                }

                .doc-name-size p:first-child {
                  color: $titleText;
                  font-weight: 500;
                }

                .doc-name-size p:nth-child(2) {
                  color: $colorSizeFile;
                }
              }

              .zip-color {
                background: $docZip;
              }

              .doc-color {
                background: $docWord;
              }
            }
          }

          .counter-version-row {
            display: flex;
            padding-top: 10px;
            align-items: center;
            height: 30px;

            .sub-item {
              padding: 0;
              align-items: center;
              display: flex;

              i {
                font-size: 14px;
                margin-right: 5px;

                &.success {
                  color: themed(p-success);
                }

                &.error {
                  color: themed(p-error);
                }

                &.warning {
                  color: themed(p-warning);
                }

                &.rejected {
                  color: themed(gray-1);
                }
              }
            }
          }

          .first-version-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            .first-version-data-text {

              span {
                font-size: 20px;
                color: $titleText;
                font-weight: bold;
              }

              small {
                color: $labelText;
                font-size: 10px;
                font-weight: 500;
              }

              p {
                margin: 0;
              }

              .first-version-data-title {
                font-size: 20px;
                color: $titleText;
                margin-top: 0.5rem;
              }

              .first-version-data-date {
                margin: 0.5rem 0;
              }

              .first-version-data-description {
                color: $titleText;
                padding-top: 5px;
              }
            }

            .version-title {
              font-size: 12px;
              font-weight: 500;
            }

            .status-container-first-section {
              width: 100%;
              flex-direction: row;
              display: flex;

              .progress-bar-container {
                width: 40%;
                margin-left: 40px;
                display: flex;
                align-items: center;

                p {
                  margin: 0;
                  padding-left: 20px;
                  font-size: 14px;
                }

                rbit-progress-bar {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .projects-table-section {
        align-items: center;
        padding-top: 20px;
        display: flex;

        .table-title-section {
          line-height: 1;
          padding: 0 10px 0 0;
          font-size: 16px;
          font-weight: 700;
        }

        .table-amount-section {
          line-height: 1;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
        }

        .table-version-section {
          line-height: 1;
          padding: 0 10px;
          font-size: 12px;
          font-weight: 500;

          .standard-input-style {
            border-radius: 3px;
            border: 1px solid themed(border-dashlet);
            height: 27px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding-left: 10px;
            font-size: 12px;
            color: themed(d-analysis-text);
          }

          .search-input-filter {
            background: themed(background);

            input {
              width: 200px;
              background: none;
              border: none;
              outline: none;
            }

            .search-icon {
              width: 10%;
              min-width: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
            }
          }
        }

        .add-icon {
          background: $plusIcon;
          border-radius: 3px;
          width: 19px;
          height: 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 8px;
          line-height: 0;
          font-weight: 500;
          color: themed(background);
        }
      }

      .table-container-section {
        height: calc(100vh - 550px);
        width: 100%;
      }

      /*
    *  TABLE RENDERER CLASSES
    */
      .status-container {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }

      .status-container-single-project {
        padding: 2px 5px;
        font-size: 10px;
        font-weight: 500;
        border-radius: 3px;
        display: flex;
        align-items: center;

        i {
          font-size: 12px;
          padding-right: 5px;
        }

        &.tag-success {
          color: themed(tag-lbl-success);
          background-color: rgba(themed(tag-success), 0.2);
        }

        &.tag-error {
          color: themed(tag-lbl-error);
          background-color: rgba(themed(tag-error), 0.2);
        }

        &.tag-warning {
          color: themed(tag-lbl-warning);
          background-color: rgba(themed(tag-warning), 0.2);
        }

        &.tag-rejected {
          color: themed(tag-lbl-rejected);
          background-color: rgba(themed(tag-rejected), 0.2);
        }
      }

      .create-new-test {
        display: flex;
        position: relative;
        align-items: flex-end;

        div:nth-child(2),
        div:nth-child(3) {
          flex: 1;
        }

        div:nth-child(4) {
          width: 123px;
        }

        div:nth-child(5) {
          width: 148px;
        }

        div:nth-child(6) {
          padding-bottom: 7px;
        }

        .cancel-create-new-test {
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
        }

        .table-amount-section {
          line-height: 1;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;

          .add-icon {
            background: $plusIcon;
            border-radius: 3px;
            width: 19px;
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 8px;
            line-height: 0;
            font-weight: 500;
            color: themed(background);
          }
        }

        .create-new-test-input-container {
          padding-top: 20px;
          margin-right: 11px;

          span {
            color: $plusIcon;
          }

          label {
            color: $titleText;
          }

          .input-wrapper {
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 12px;
            color: #7E7D7D;
            border: 0.5px solid #787070CC;
            border-radius: 3px;
            background: themed(background);

            input {
              outline: none;
              width: 100%;
              color: $titleText;
              border: none;
              background: none;
            }
          }
        }
      }
    }

    .single-project-detail {
      width: 160px;

      .overflow {
        overflow-y: auto;
        height: 100%;
      }

      .edition-wrapper {
        display: flex;
        flex-direction: row;
      }

      .section-info-detail-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .testers-integrants {
          width: 100%;
          display: flex;
        }

        .testers-integrants img {
          border: 2px solid themed(backgroundLayout);
          margin-right: -10px;
          border-radius: 5px;
          -o-object-fit: cover;
          object-fit: cover;
          width: 30px;
          height: 30px;
        }

        &.first {
          margin-top: 19px;
        }

        margin-top: 29px;

        .label {
          color: $labelText;
          font-size: 10px;
        }

        .title {
          color: themed(mainText);
          font-size: 12px;
        }

      }
    }
  }

  .progress-container {
    position: relative;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .d-project-percentage {
      margin: 0;
      color: $labelText;
    }

    .d-project-percentage-container {
      display: flex;
      justify-content: flex-end;
      width: 70px;
    }
  }

  .percent-container {
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 12px;
  }

  .margin-right-10 {
    margin-right: 10px;
  }

  // Bar progress
  .d-project-progress {
    height: 6px;
    overflow: hidden;
    border-radius: 5px;
    background: themed(p-background);
    width: 100%;

    .d-progress-bar-success {
      float: left;
      background: themed(p-success);
      height: 100%;
    }

    .d-progress-bar-error {
      float: left;
      background: themed(p-error);
      height: 100%;
    }

    .d-progress-bar-warning {
      float: left;
      background: themed(p-warning);
      height: 100%;
    }

    .d-progress-bar-info {
      float: left;
      background: themed(p-info);
      height: 100%;
    }
  }

  .side-menu {
    position: absolute;
    right: -100%;
    bottom: 0;
    height: 92vh;
    width: 50vh;
    background: themed(background);
    transition: 0.5s;
    box-shadow: 0px 3px 10px #00000029;

    .menu-wrapper {
      padding: 40px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .header-section {
      flex: 1;
      display: flex;
      flex-direction: column;

      .header-title p {
        font-size: 20px;
        font-weight: bold;
        color: $titleText;
        padding: 20px 0;
        margin: 0;
      }

      .header-date {
        padding-bottom: 50px;

        p {
          margin: 0;
        }
      }

      .header-results {

        p {
          font-size: 12px;
          color: $titleText;
        }

        small {
          color: themed(d-analysis-text);
          font-weight: 500;
          font-size: 10px;
        }
      }

      .header-attachment {
        border: 0.5px dashed #8C8989;
        border-radius: 7px;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        display: flex;
        width: 214px;
        height: 30px;
        margin-bottom: 40px;

        p {
          margin: 0;
          font-size: 10px;
          color: themed(d-analysis-text);
        }
      }

      .header-send-message {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .header-send-message-input {
          display: flex;
          width: 100%;

          .header-send-message-image {
            display: flex;
            margin-right: 32px;

            img {
              border: 2px solid themed(background);
              margin-right: -10px;
              border-radius: 5px;
              -o-object-fit: cover;
              object-fit: cover;
              width: 30px;
              height: 30px;
            }
          }
        }

        .header-send-message-input-wrapper {
          height: 60px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 25px;
          font-size: 12px;
          color: themed(regularText);
          border: 0.5px solid themed(border-dashlet);
          border-radius: 3px;
          background: themed(background);

          input {
            outline: none;
            width: 100%;
            color: themed(mainText);
            border: none;
            background: none;

          }

        }

        .header-send-message-button {
          padding: 10px 0;

          p {
            color: $plusIcon;
          }
        }
      }
    }

    .content-scroll-container::-webkit-scrollbar {
      display: none;
    }

    .content-scroll-container {
      overflow: scroll;

      .data-comment p:nth-child(1) {
        color: $titleText;
        font-weight: bold;
        margin: 0;
      }

      .data-comment p:nth-child(2) {
        color: $labelText;
      }

      .content-scroll-container-one {
        border-bottom: 1px solid #DBDBDB;
        border-top: 1px solid #DBDBDB;
        padding-top: 1rem;
      }

      .content-scroll-container-two {
        
        .link {
          color: $plusIcon;
          text-decoration: underline;
        }
      }

      .content-scroll-container-two,
      .content-scroll-container-three {
        margin-left: 30px;
        padding-top: 1rem;
      }

      .content-scroll-container-one,
      .content-scroll-container-two,
      .content-scroll-container-three {
        display: flex;
      }

      .content-scroll-send-message {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .content-scroll-send-message-input {
          display: flex;
          width: 100%;

          .content-scroll-send-message-image {
            display: flex;
            margin-right: 32px;

            img {
              border: 2px solid themed(background);
              margin-right: -10px;
              border-radius: 5px;
              -o-object-fit: cover;
              object-fit: cover;
              width: 30px;
              height: 30px;
            }
          }
        }

        .content-scroll-send-message-input-wrapper {
          height: 60px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 25px;
          font-size: 12px;
          color: themed(regularText);
          border: 0.5px solid themed(border-dashlet);
          border-radius: 3px;
          background: themed(background);

          input {
            outline: none;
            width: 100%;
            color: #4B4040;
            border: none;
            background: none;

          }

        }

        .content-scroll-send-message-button {
          padding: 10px 0;

          p {
            color: $plusIcon;
          }
        }
      }

      .content-scroll-container-two-image {
        display: flex;
        margin-right: 20px;

        img {
          border: 2px solid #ffffff;
          margin-right: -10px;
          border-radius: 5px;
          -o-object-fit: cover;
          object-fit: cover;
          width: 30px;
          height: 30px;
        }
      }

    }

    .first-section,
    .first-section-inner,
    .first-section-buttons {
      display: flex;
    }

    .first-section-inner {
      .status-container-single-project {
        padding: 2px 5px;
        margin-right: 35px;
        font-size: 10px;
        font-weight: 500;
        border-radius: 3px;
        display: flex;
        align-items: center;

        i {
          font-size: 12px;
          padding-right: 5px;
        }

        &.tag-success {
          color: themed(tag-lbl-success);
          background-color: rgba(themed(tag-success), 0.2);
        }

        &.tag-error {
          color: themed(tag-lbl-error);
          background-color: rgba(themed(tag-error), 0.2);
        }

        &.tag-warning {
          color: themed(tag-lbl-warning);
          background-color: rgba(themed(tag-warning), 0.2);
        }

        &.tag-rejected {
          color: themed(tag-lbl-rejected);
          background-color: rgba(themed(tag-rejected), 0.2);
        }
      }
    }

    .first-section {
      justify-content: space-between;

      .hide-menu {
        cursor: pointer;
      }
    }
  }

  .expand {
    right: 0;
  }

}
