@import '../../styles/styles.scss';

$defaultIconButtonBg: #8C8989;

@include themify() {
    .button-wrapper {
        background-color: $defaultIconButtonBg;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 4px;

        color: #ffffff;
        font-size: 12px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 24px;
        height: 24px;
    }
}