@import "../../../../theme/styles/styles";

@include themify() {
  .d-project-content {
    display: flex;
    flex-direction: row;
    height: 3rem;
    overflow: visible;
  }

  .d-project-avatar {
    height: 100%;
    padding: 0 .625rem;

    img {
      border-radius: 2px;
      width: 25px;
      height: auto;
    }
  }

  .d-project-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    .d-project-detail-title {
      font-size: 0.875rem;
      font-weight: 500;

      span {
        font-size: 0.625rem;
        color: themed(subtextColor);
      }
    }

    .d-project-goal-text {
      font-size: 0.75rem;
    }

    .d-project-test-count {
      font-size: 0.75rem;
    }

    .d-project-card-header {
      display: flex;
      height: 2rem;

      .d-project-percentage {
        font-size: 0.75rem;
        position: relative;
        flex: auto;
        display: flex;
        align-items: center;

        .p_success {
          color: themed(p-success);
          margin-right: 3px;
        }

        .p_error {
          color: themed(p-error);
          margin-right: 3px;
        }

        .p_warning {
          color: themed(p-warning);
          margin-right: 3px;
        }

        .p_info {
          color: themed(p-info);
          margin-right: 3px;
        }
      }
    } 

    .p-project-app-type-img {
      width: auto;
      margin: 1px;
      height: 25px;
      border-radius: .25rem;
    }
  }

  // Bar progress
  .d-project-progress {
    height: 6px;
    overflow: hidden;
    border-radius: 5px;
    background: #9393933b;

    .d-progress-bar-success {
      float: left;
      background: themed(p-success);
      height: 100%;
    }

    .d-progress-bar-error {
      float: left;
      background: themed(p-error);
      height: 100%;
    }

    .d-progress-bar-warning {
      float: left;
      background: themed(p-warning);
      height: 100%;
    }

    .d-progress-bar-info {
      float: left;
      background: themed(p-info);
      height: 100%;
    }
  }
}