<div class="d-project-content">
  <div class="d-project-details">
    <div class="d-project-card-header">
      <div class="d-project-percentage">
        <span [ngClass]="{
          'p_success': false,
          'p_error': true,
          'p_warning': false,
          'p_info': false
        }"> {{projectPercentage}}</span> - {{projectTestCount}}/ {{projectTestTotalCount}} Pruebas
      </div>
      <ng-container *ngIf="displayProgressBarAvatar">
        <rbit-d-avatar-list [projectAvatar]="projectAvatar"></rbit-d-avatar-list>
      </ng-container>

    </div>
    <div *ngIf="displayProgressBar" class="d-project-progress">
      <div *ngIf="projectSuccessPercentage" class="d-progress-bar-success" [style.width.%]="projectSuccessPercentage"
        [attr.aria-valuenow]="projectSuccessPercentage" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      <div *ngIf="projectErrorPercentage" class="d-progress-bar-error" [style.width.%]="projectErrorPercentage"
        [attr.aria-valuenow]="projectErrorPercentage" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      <div *ngIf="projectInfoPercentage" class="d-progress-bar-info" [style.width.%]="projectInfoPercentage"
        [attr.aria-valuenow]="projectInfoPercentage" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      <div *ngIf="projectWarningPercentage" class="d-progress-bar-warning" [style.width.%]="projectWarningPercentage"
        [attr.aria-valuenow]="projectWarningPercentage" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
