<div class="change-version-modal fadeIn" >
  <div class="modal-content-version">
    <div class="title-version-modal">{{'Cambiar versión'}}</div>
    <div class="description-version-modal">
      {{'¿Seguro que deseas cambiar a la versión actual, la versión seleccionada?'}}
    </div>
    <div class="buttons-container">
      <div class="button-cancel" (click)="cancelClicked()">{{'Cancelar'}}</div>
      <div class="button-accept" (click)="acceptClicked()">{{'Aceptar'}}</div>
    </div>
  </div>
</div>
