@import "../../../../theme/styles/styles";

@include themify() {
  .change-version-modal {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(black, 0.7);

    .modal-content-version {
      width: 456px;
      height: 251px;
      background-color: themed(background);
      padding: 30px;
      display: flex;
      flex-direction: column;
      position: relative;
      .title-version-modal {
        font-weight: 700;
        font-size: 20px;
        padding-bottom: 30px;
      }
      .description-version-modal {
        width: 70%;
        font-size: 14px;
      }
      .buttons-container {
        padding-top: 30px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .button-accept {
          cursor: pointer;
          color: themed(background);
          background: themed(p-info);
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          width: 114px;
          height: 32px;
          margin-left: 10px;
        }
        .button-cancel {
          cursor: pointer;
          background: rgba(themed(border-dashlet), 0.6);
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          width: 114px;
          height: 32px;
          margin-left: 10px;
        }
      }
      .close-icon {
        position: absolute;
        right: 30px;
        top: 30px;
      }
    }
  }
}
