@import '../../styles/colors.scss';
@import '../../styles/styles';

@include themify() {
  button {
    // width: 100%;
    background-color: themed(button-primary-color);
    border: none;
    color: white;
    padding: 11px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.875rem;
    transition: 0.8s;
    width: 100%;
    font-weight: bold;

    &.yellow {background-color: #DA9219;}
    &.red {background-color: themed(button-bg-red);}
    &.red-2 {background-color: themed(button-bg-red-2);}
    &.withoutBackground{
      background-color: #fff;
      color: themed(button-primary-color);
    }
    &.withoutBackground-yellow{
      background-color: #fff;
      color: #DA9219;
    }
    &.withoutBackground-red{
      background-color: #fff;
      color: #B90B13;
    }
    &.outline {
      background-color: #ffffff00;
      border: 1px solid themed(mainText);//TODO: CHAGNE THIS
      color: themed(mainText);
    }
  }
  button:focus {
    outline: 0;
  }
  // .withoutBackground {
  //   background-color: #fff;
  //   color: themed(button-primary-color);
  // }
  //button:hover {
  //  background-color: $focus-button;
  //}
  // .outline {
  //   background-color: #ffffff00;
  //   border: 1px solid themed(mainText);//TODO: CHAGNE THIS
  //   color: themed(mainText);
  // }

  &.full {width: 100%;}
}
